
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gO6XjtwG_j"}' data-id="gO6XjtwG_j" id="gO6XjtwG_j" data-same-height-subgrid-container class="gO6XjtwG_j gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:20px;--mb:var(--g-s-l);--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g-x9-0e5Mb gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g6C6ItfmJG"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764630070266 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g6C6ItfmJG"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-7e93d29d-c7e8-4d8f-be50-9fd57e3db011_768x.png" srcset="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-7e93d29d-c7e8-4d8f-be50-9fd57e3db011_768x.png" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-7e93d29d-c7e8-4d8f-be50-9fd57e3db011_1024x.png" srcset="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-7e93d29d-c7e8-4d8f-be50-9fd57e3db011_1024x.png" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-7e93d29d-c7e8-4d8f-be50-9fd57e3db011.png" data-src="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-7e93d29d-c7e8-4d8f-be50-9fd57e3db011.png"
        alt="Elixirs"
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:7%;--w-tablet:12%;--w-mobile:17%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gjEWdQx1Rh ">
      
    <gp-accordion data-id="gjEWdQx1Rh" class="gp-flex gp-flex-col gp-w-full" style="--gg:16px;border-radius:inherit"
      gp-data='{"uid":"gjEWdQx1Rh","setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1,2","expanded":true,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px"}},"iconCollapse":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817558491496808\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z\" /></svg>","iconExpand":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817606065848680\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M208.49,191.51a12,12,0,0,1-17,17L128,145,64.49,208.49a12,12,0,0,1-17-17L111,128,47.51,64.49a12,12,0,0,1,17-17L128,111l63.51-63.52a12,12,0,0,1,17,17L145,128Z\" /></svg>","iconCollapseSize":30,"layoutHeader":"text-only","expandedMode":"multiple","configIconSize":16,"parentUid":"gjEWdQx1Rh","childListNumber":[],"chidlrenUid":["gMA0kBu2S5"]},"styles":{"bgColor":{"active":"#00000000","hover":"#00000000","normal":"#00000000"},"color":{"active":"#3a1c19","hover":"#98001d","normal":"#3a1c19"},"headerBorder":{"active":{"border":"solid","borderWidth":"Mixed","color":"#3a1c19","isCustom":true,"position":"bottom","width":"0px 0px 1.5px 0px"},"hover":{"border":"solid","borderWidth":"Mixed","color":"#98001d","isCustom":true,"position":"bottom","width":"0px 0px 1.5px 0px"},"normal":{"border":"solid","borderWidth":"Mixed","color":"#3a1c19","isCustom":true,"position":"bottom","width":"0px 0px 1.5px 0px"}},"textColor":{"active":"#3A1C19","hover":"#98001d","normal":"#3A1C19"},"iconColor":{"active":"#EAEAEA","hover":"#EAEAEA","normal":"#EAEAEA"},"contentSizePadding":{"desktop":{"gap":"16px","padding":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"medium"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"medium"}}},"widthHeightSize":{"desktop":{"height":"auto","width":"100%"}}}}'
        >
        <div class=" gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
      
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#98001d;--icon-expand-hover-color:#98001d;--icon-expand-active-color:#3a1c19;--icon-active-color:#EAEAEA;--icon-hover-color:#EAEAEA;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div data-index="0" class="gjEWdQx1Rh gp-overflow-hidden gp-child-item-gjEWdQx1Rh gp-accordion-item">
      <div aria-hidden uid="gMA0kBu2S5" id="gMA0kBu2S5" data-index="0"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gjEWdQx1Rh gp-accordion-item-gjEWdQx1Rh-0" style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--hvr-bgc:#00000000;--bgc:#00000000;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1.5px 0px;--hvr-bw:0px 0px 1.5px 0px;--bc:#3a1c19;--hvr-bc:#98001d">
        
          <div class="gp-inline-flex">
            <span style="--c:#3a1c19;width:30px;height:30px"
            data-index="0"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817558491496808">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:center;--jc-mobile:center">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#3A1C19;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:-0.5735764363510458px 0.819152044288992px 1px rgba(58, 28, 25, 0.8);--ff:var(--g-font-Cinzel-Decorative, 'Cinzel Decorative'), var(--g-font-heading, heading);--size:30px;--size-tablet:30px;--size-mobile:25px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--tt:none;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjEWdQx1Rh_childItem_0 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="0" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="0" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px">
          <div
      data-same-height-display-contents
      
      class="gYuZ04y-X2 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g9iWe8KR2O"
        class="g9iWe8KR2O"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:10px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Adamina, 'Adamina'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#3A1C19;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9iWe8KR2O_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZNqDtQswB"
        class="gZNqDtQswB"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Cinzel-Decorative, 'Cinzel Decorative'), var(--g-font-heading, heading);--weight:700;--size:24px;--size-tablet:24px;--size-mobile:24px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--c:#3A1C19;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZNqDtQswB_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g4tS2Orz8w"}' data-id="g4tS2Orz8w" id="g4tS2Orz8w" data-same-height-subgrid-container class="g4tS2Orz8w gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--cg:20px;--gtc:minmax(0, 2.4fr) minmax(0, 2.4fr) minmax(0, 2.4fr) minmax(0, 2.4fr) minmax(0, 2.4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g3AYX9Gjo4 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gTpywyuf6Q"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--pt:10px;--pb:10px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764630070268 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gTpywyuf6Q"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-2752b725-e3a5-4c11-a6fc-122a76da2292_768x.jpg" srcset="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-2752b725-e3a5-4c11-a6fc-122a76da2292_768x.jpg" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-2752b725-e3a5-4c11-a6fc-122a76da2292_1024x.jpg" srcset="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-2752b725-e3a5-4c11-a6fc-122a76da2292_1024x.jpg" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-2752b725-e3a5-4c11-a6fc-122a76da2292.jpg" data-src="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-2752b725-e3a5-4c11-a6fc-122a76da2292.jpg"
        alt="10% code"
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--radiusType:custom;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g3g4LNEt6_"
        class="g3g4LNEt6_"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Adamina, 'Adamina'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#3A1C19;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg3g4LNEt6__text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gE7QVoHDVd gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gymGKZQrDV"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--pt:10px;--pb:10px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764630070269 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gymGKZQrDV"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-98a29c5d-7797-447b-a403-b985c292bd7a_768x.jpg" srcset="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-98a29c5d-7797-447b-a403-b985c292bd7a_768x.jpg" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-98a29c5d-7797-447b-a403-b985c292bd7a_1024x.jpg" srcset="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-98a29c5d-7797-447b-a403-b985c292bd7a_1024x.jpg" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-98a29c5d-7797-447b-a403-b985c292bd7a.jpg" data-src="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-98a29c5d-7797-447b-a403-b985c292bd7a.jpg"
        alt="10% code"
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--radiusType:custom;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g-ui11wIYh"
        class="g-ui11wIYh"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Adamina, 'Adamina'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#3A1C19;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg-ui11wIYh_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gO968_nEDJ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gmND2nKSVh"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--pt:10px;--pb:10px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764630070269 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gmND2nKSVh"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-f4256784-3585-4e58-a61c-5d80d556900d_768x.jpg" srcset="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-f4256784-3585-4e58-a61c-5d80d556900d_768x.jpg" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-f4256784-3585-4e58-a61c-5d80d556900d_1024x.jpg" srcset="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-f4256784-3585-4e58-a61c-5d80d556900d_1024x.jpg" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-f4256784-3585-4e58-a61c-5d80d556900d.jpg" data-src="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-f4256784-3585-4e58-a61c-5d80d556900d.jpg"
        alt="10% code"
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--radiusType:custom;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gow2LAUaPm"
        class="gow2LAUaPm"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Adamina, 'Adamina'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#3A1C19;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggow2LAUaPm_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g4NGLWvrr4 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gqY31brUOQ"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--pt:10px;--pb:10px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764630070270 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gqY31brUOQ"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-5e901ea3-3db9-45c0-986c-aea931ada778_768x.jpg" srcset="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-5e901ea3-3db9-45c0-986c-aea931ada778_768x.jpg" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-5e901ea3-3db9-45c0-986c-aea931ada778_1024x.jpg" srcset="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-5e901ea3-3db9-45c0-986c-aea931ada778_1024x.jpg" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-5e901ea3-3db9-45c0-986c-aea931ada778.jpg" data-src="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-5e901ea3-3db9-45c0-986c-aea931ada778.jpg"
        alt="10% code"
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--radiusType:custom;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gu1I_dvT8L"
        class="gu1I_dvT8L"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Adamina, 'Adamina'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#3A1C19;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggu1I_dvT8L_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g1Jk-zC4FU gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gcYOMECjRg"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--pt:10px;--pb:10px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764630070271 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gcYOMECjRg"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-7985b67e-90ef-4c91-9b1b-ebec53205360_768x.jpg" srcset="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-7985b67e-90ef-4c91-9b1b-ebec53205360_768x.jpg" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-7985b67e-90ef-4c91-9b1b-ebec53205360_1024x.jpg" srcset="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-7985b67e-90ef-4c91-9b1b-ebec53205360_1024x.jpg" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-7985b67e-90ef-4c91-9b1b-ebec53205360.jpg" data-src="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-7985b67e-90ef-4c91-9b1b-ebec53205360.jpg"
        alt="10% code"
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--radiusType:custom;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gWOTzyDcXz"
        class="gWOTzyDcXz"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Adamina, 'Adamina'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#3A1C19;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggWOTzyDcXz_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gAqP3dPDom"
        class="gAqP3dPDom"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Cinzel-Decorative, 'Cinzel Decorative'), var(--g-font-heading, heading);--weight:700;--size:24px;--size-tablet:24px;--size-mobile:24px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--c:#3A1C19;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggAqP3dPDom_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"geNep7I842"}' data-id="geNep7I842" id="geNep7I842" data-same-height-subgrid-container class="geNep7I842 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--cg:20px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gWQfKE_QZ4 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gXWkw32h70"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--pt:10px;--pb:10px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764630070272 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gXWkw32h70"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-43e578cd-37aa-4e45-bd28-2ce18a2d24c3_768x.jpg" srcset="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-43e578cd-37aa-4e45-bd28-2ce18a2d24c3_768x.jpg" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-43e578cd-37aa-4e45-bd28-2ce18a2d24c3_1024x.jpg" srcset="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-43e578cd-37aa-4e45-bd28-2ce18a2d24c3_1024x.jpg" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-43e578cd-37aa-4e45-bd28-2ce18a2d24c3.jpg" data-src="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-43e578cd-37aa-4e45-bd28-2ce18a2d24c3.jpg"
        alt="10% code"
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--radiusType:custom;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gL4GcxYPRf"
        class="gL4GcxYPRf"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Adamina, 'Adamina'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#3A1C19;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggL4GcxYPRf_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gftntOlxBC gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="giANCuF-MK"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--pt:10px;--pb:10px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764630070273 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto giANCuF-MK"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/STL_6150_f90f7565-c783-421f-b3ad-5682e82487d02_768x.gif?v=1742899904" srcset="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/STL_6150_f90f7565-c783-421f-b3ad-5682e82487d02_768x.gif?v=1742899904" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/STL_6150_f90f7565-c783-421f-b3ad-5682e82487d02_1024x.gif?v=1742899904" srcset="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/STL_6150_f90f7565-c783-421f-b3ad-5682e82487d02_1024x.gif?v=1742899904" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/STL_6150_f90f7565-c783-421f-b3ad-5682e82487d02.gif?v=1742899904" data-src="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/STL_6150_f90f7565-c783-421f-b3ad-5682e82487d02.gif?v=1742899904"
        alt="10% code"
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--radiusType:custom;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gxXAYo95sf"
        class="gxXAYo95sf"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Adamina, 'Adamina'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#3A1C19;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxXAYo95sf_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
    </gp-accordion>
    
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-accordion-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    
  
      </div>
      <style id="custom-css-gjEWdQx1Rh">
        .gjEWdQx1Rh .gp-accordion-item_header [data-gp-text]{
  text-align: center !important;
}
      </style>
    
    </div>

      
    </gp-row>
  
  