{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

{%- liquid
  assign bl_stts = block.settings

  assign section_fetch = section_fetch | default: false
  if section.index == nil
    assign section_fetch = true
  endif
-%}

{%- unless section_fetch -%}
  <div
    id="MegaMenu-Content-{{ section.id }}-{{ forloopIndex }}-{{ block_id }}"
    class="list-menu--wrapper"
    tabindex="-1"
    style="--columns-count: {{ bl_stts.grid }}; --gap-x: 1.6rem; --gap-y: 1.6rem"
  ></div>
{%- else -%}
  <div
    id="MegaMenu-Content-{{ section.id }}-{{ forloopIndex }}-{{ block_id }}"
    class="list-menu--wrapper"
    tabindex="-1"
    style="--columns-count: {{ bl_stts.grid }}; --gap-x: 1.6rem; --gap-y: 1.6rem"
  >
    <div class="mega-menu__container page-width page-width--{{ bl_stts.width }} flex items-stretch justify-between xl:flex-nowrap">
      {% if bl_stts.megamenu_submenu != blank %}
      <div class="mega-menu__submenu" role="list">
        <ul class="list-unstyled" role="list">
          {% for link in bl_stts.megamenu_submenu.links %}
            <li>
              <a
                href="{{ link.url }}"
                title="{{ link.title | escape }}"
                class="
                  header__menu-item mega-menu__link mega-menu__link--level-2 link link--hover-underline
                  {% render 'highlight-class', order: '2', keys: keys, compare: link.title, settings: sec_settings %}
                "
                style="{%  render 'highlight-style', order: '2', keys: keys, compare: link.title, color: highlight_color, settings: sec_settings %}"
              >
                <span class="text">
                  {{ link.title | escape }}
                </span>
                {% render 'highlight-label-menu',
                  order: '2',
                  keys: keys,
                  compare: link.title,
                  settings: sec_settings
                %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      {%- liquid
        assign has_mansory = false
        assign grid = bl_stts.grid | plus: 0
        if link.links.size > grid
          assign has_mansory = true
        endif
      -%}
      <{% if has_mansory %}mega-menu-mansory{% else %}ul{% endif %}
        class="mega-menu__list header__mega-submenu{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}{% if has_mansory %} mega-menu__mansory{% endif %}"
        role="list"
        id="MegaMenu-List-{{ section.id }}-{{ forloopIndex }}"
      >
        {%- for childlink in link.links -%}
          <li{% if has_mansory %} class="mansory-item"{% endif %}>
            <a
              id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
              href="{{ childlink.url }}"
              class="
                header__menu-item mega-menu__link mega-menu__link--level-2 link link--hover-underline
                {% if childlink.current %} list-menu__item--active{% endif %}
                {% render 'highlight-class', order: '2', keys: keys, compare: childlink.title, settings: sec_settings %}
              "
              {% if childlink.current %}
                aria-current="page"
              {% endif %}
              style="{%  render 'highlight-style', order: '2', keys: keys, compare: childlink.title, color: highlight_color, settings: sec_settings %}"
            >
              <span class="text">
                {{ childlink.title | escape }}
              </span>
              {% render 'highlight-label-menu',
                order: '2',
                keys: keys,
                compare: childlink.title,
                settings: sec_settings,
                color: highlight_color
              %}
            </a>
            {%- if childlink.links != blank -%}
              <ul class="list-unstyled" role="list">
                {%- for grandchildlink in childlink.links -%}
                  <li>
                    <a
                      id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                      href="{{ grandchildlink.url }}"
                      class="
                        header__menu-item mega-menu__link link link--hover-underline mega-menu__link--level-3
                        {% if grandchildlink.current %} list-menu__item--active{% endif %}
                        {% render 'highlight-class', order: '3', keys: keys, compare: grandchildlink.title, settings: sec_settings %}
                      "
                      {% if grandchildlink.current %}
                        aria-current="page"
                      {% endif %}
                      style="{%  render 'highlight-style', order: '3', keys: keys, compare: grandchildlink.title, color: highlight_color, settings: sec_settings %}"
                    >
                      <span class="text">
                        {{ grandchildlink.title | escape }}
                      </span>
                      {% render 'highlight-label-menu',
                        order: '3',
                        keys: keys,
                        compare: grandchildlink.title,
                        settings: sec_settings
                      %}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </{% if has_mansory %}mega-menu-mansory{% else %}ul{% endif %}>
      {%- liquid
        assign has_mega_menu_images = false
        if bl_stts.show_promotion_banner
          if bl_stts.image_1 != blank or bl_stts.image_2 != blank or bl_stts.image_3 != blank
            assign has_mega_menu_images = true
            assign mega_menu_images_size = 0
            assign image_index = 0
          endif
        endif
      -%}
      {%- if has_mega_menu_images == true -%}
        {%- liquid
          assign mega_menu_images_size = 1
          assign is_one_column = true
        -%}
        <div
          class="
            mega-menu__collage collage collage-1-columns grid contains-card contains-card--card
            collage--{{ bl_stts.promotion_banner_layout }}
            collage--{{ mega_menu_images_size }}-items
          "
          style="
            --border-radius: {{ bl_stts.image_corner_radius | divided_by: 10.0 }}rem;
            --border-width: {{ bl_stts.image_border_thickness | divided_by: 10.0 }}rem;
            --gap-x: 1rem;
            --gap-y: 1rem;
            {% if is_one_column %}flex: 0 0 29.2rem;{% endif %}
          "
        >
          {%- for i in (1..2) -%}
            {%- capture capture_image -%}image_{{ i }}{%- endcapture -%}
            {%- capture capture_link_url -%}link_url_{{ i }}{%- endcapture -%}
            {%- capture capture_sub_text -%}sub_text_{{ i }}{%- endcapture -%}
            {%- capture capture_text -%}text_{{ i }}{%- endcapture -%}
            {%- liquid
              assign image = bl_stts[capture_image]
              assign link_url = bl_stts[capture_link_url]
              assign sub_text = bl_stts[capture_sub_text]
              assign text = bl_stts[capture_text]
            -%}
            {%- if image != blank -%}
              <div
                class="
                  overflow-hidden
                  collage__item
                  collage__item--image
                  collage__item--1
                  mega-menu__image
                "
              >
                <a
                  class="block relative h-full"
                  {% if link_url != blank %}
                    href="{{ link_url }}"
                  {% else %}
                    role="link" aria-disabled="true"
                  {% endif %}
                >
                  {%- liquid
                    assign ratio = image.aspect_ratio | default: 1
                    assign image_alt = image.alt | default: shop.name | escape
                  -%}
                  <div
                    class="media media--transparent media--adapt relative overflow-hidden h-full"
                    style="--media-adapt-ratio: {{ ratio }};"
                  >
                    {{
                      image
                      | image_url: width: 600
                      | image_tag:
                        loading: 'lazy',
                        widths: '275, 550, 710',
                        sizes: sizes,
                        alt: image_alt,
                        class: 'motion-reduce'
                    }}
                    {%- if sub_text or text -%}
                    <div class="card-megamenu-content absolute left-0 bottom-0 w-full">
                      <p class="sub_text">{{ sub_text }}</p>
                      <p class="text">{{ text }}</p>
                    </div>
                    {%- endif -%}
                  </div>
                </a>
              </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
      {%- endif -%}
    </div>
  </div>
{%- endunless -%}
