
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-591939193999983364.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-591939193999983364.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-591939193999983364.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-591939193999983364.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-591939193999983364.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-591939193999983364.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-591939193999983364.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-591939193999983364.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-591939193999983364.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-591939193999983364.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-591939193999983364.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-591939193999983364.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-591939193999983364.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-591939193999983364.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-591939193999983364.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-591939193999983364.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-591939193999983364.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-591939193999983364.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-591939193999983364.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-591939193999983364.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-591939193999983364.gps.gpsil [style*="--hvr-bc:"]:hover{border-color:var(--hvr-bc)}.gps-591939193999983364.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-591939193999983364.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-591939193999983364.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-591939193999983364.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-591939193999983364.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-591939193999983364.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-591939193999983364.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-591939193999983364.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-591939193999983364.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-591939193999983364.gps.gpsil [style*="--hvr-bs:"]:hover{border-style:var(--hvr-bs)}.gps-591939193999983364.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-591939193999983364.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-591939193999983364.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-591939193999983364.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-591939193999983364.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-591939193999983364.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-591939193999983364.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-591939193999983364.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-591939193999983364.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-591939193999983364.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-591939193999983364.gps.gpsil [style*="--hvr-bw:"]:hover{border-width:var(--hvr-bw)}.gps-591939193999983364.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-591939193999983364.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-591939193999983364.gps.gpsil [style*="--hvr-shadow:"]:hover{box-shadow:var(--hvr-shadow)}.gps-591939193999983364.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-591939193999983364.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-591939193999983364.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-591939193999983364.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-591939193999983364.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-591939193999983364.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-591939193999983364.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-591939193999983364.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-591939193999983364.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-591939193999983364.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-591939193999983364.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-591939193999983364.gps.gpsil [style*="--tdc:"]{text-decoration-color:var(--tdc)}.gps-591939193999983364.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-591939193999983364.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-591939193999983364.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-591939193999983364.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-591939193999983364.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-591939193999983364.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-591939193999983364.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-591939193999983364.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-591939193999983364.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-591939193999983364.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-591939193999983364.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-591939193999983364.gps.gpsil [style*="--of:"]{overflow:var(--of)}.gps-591939193999983364.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-591939193999983364.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-591939193999983364.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-591939193999983364.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-591939193999983364.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-591939193999983364.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-591939193999983364.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-591939193999983364.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-591939193999983364.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-591939193999983364.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-591939193999983364.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-591939193999983364.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-591939193999983364.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-591939193999983364.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-591939193999983364.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-591939193999983364.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-591939193999983364.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-591939193999983364.gps.gpsil [style*="--hvr-shadow-tablet:"]:hover{box-shadow:var(--hvr-shadow-tablet)}.gps-591939193999983364.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-591939193999983364.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-591939193999983364.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-591939193999983364.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-591939193999983364.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-591939193999983364.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-591939193999983364.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-591939193999983364.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-591939193999983364.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-591939193999983364.gps.gpsil [style*="--objf-tablet:"]{-o-object-fit:var(--objf-tablet);object-fit:var(--objf-tablet)}.gps-591939193999983364.gps.gpsil [style*="--o-tablet:"]{order:var(--o-tablet)}.gps-591939193999983364.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-591939193999983364.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-591939193999983364.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-591939193999983364.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-591939193999983364.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-591939193999983364.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-591939193999983364.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-591939193999983364.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-591939193999983364.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-591939193999983364.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-591939193999983364.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-591939193999983364.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-591939193999983364.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-591939193999983364.gps.gpsil [style*="--hvr-shadow-mobile:"]:hover{box-shadow:var(--hvr-shadow-mobile)}.gps-591939193999983364.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-591939193999983364.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-591939193999983364.gps.gpsil [style*="--gg-mobile:"]{grid-gap:var(--gg-mobile)}.gps-591939193999983364.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-591939193999983364.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-591939193999983364.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-591939193999983364.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-591939193999983364.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-591939193999983364.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-591939193999983364.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-591939193999983364.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-591939193999983364.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-591939193999983364.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-591939193999983364.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-591939193999983364.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-591939193999983364.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-591939193999983364.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-591939193999983364.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-591939193999983364.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-591939193999983364.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-591939193999983364.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-591939193999983364 .-gp-translate-x-1\/2,.gps-591939193999983364 .-gp-translate-y-1\/2,.gps-591939193999983364 .gp-rotate-0,.gps-591939193999983364 .gp-rotate-180,.gps-591939193999983364 .gp-translate-x-\[-50\%\],.gps-591939193999983364 .gp-translate-y-0,.gps-591939193999983364 .mobile\:gp-rotate-0,.gps-591939193999983364 .mobile\:gp-rotate-180,.gps-591939193999983364 .tablet\:gp-rotate-0,.gps-591939193999983364 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-591939193999983364 .gp-shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000}.gps-591939193999983364 .gp-g-heading-3{font-family:var(--g-h3-ff);font-size:var(--g-h3-size);font-style:var(--g-h3-fs);font-weight:var(--g-h3-weight);letter-spacing:var(--g-h3-ls);line-height:var(--g-h3-lh)}.gps-591939193999983364 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-591939193999983364 .gp-g-paragraph-2{font-family:var(--g-p2-ff);font-size:var(--g-p2-size);font-style:var(--g-p2-fs);font-weight:var(--g-p2-weight);letter-spacing:var(--g-p2-ls);line-height:var(--g-p2-lh)}.gps-591939193999983364 .gp-sr-only{clip:rect(0,0,0,0);border-width:0;height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;white-space:nowrap;width:1px}.gps-591939193999983364 .gp-pointer-events-none{pointer-events:none}.gps-591939193999983364 .gp-invisible{visibility:hidden}.gps-591939193999983364 .gp-static{position:static}.gps-591939193999983364 .gp-absolute{position:absolute}.gps-591939193999983364 .\!gp-relative{position:relative!important}.gps-591939193999983364 .gp-relative{position:relative}.gps-591939193999983364 .gp-inset-0{inset:0}.gps-591939193999983364 .gp-bottom-0{bottom:0}.gps-591939193999983364 .gp-bottom-\[-4px\]{bottom:-4px}.gps-591939193999983364 .gp-bottom-\[calc\(100\%\+20px\)\]{bottom:calc(100% + 20px)}.gps-591939193999983364 .gp-left-0{left:0}.gps-591939193999983364 .gp-left-1\/2,.gps-591939193999983364 .gp-left-\[50\%\]{left:50%}.gps-591939193999983364 .gp-right-0{right:0}.gps-591939193999983364 .gp-top-0{top:0}.gps-591939193999983364 .gp-top-1\/2{top:50%}.gps-591939193999983364 .gp-z-0{z-index:0}.gps-591939193999983364 .gp-z-1{z-index:1}.gps-591939193999983364 .gp-z-10{z-index:10}.gps-591939193999983364 .gp-z-2{z-index:2}.gps-591939193999983364 .gp-z-\[90\]{z-index:90}.gps-591939193999983364 .\!gp-m-0{margin:0!important}.gps-591939193999983364 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-591939193999983364 .gp-my-0{margin-bottom:0;margin-top:0}.gps-591939193999983364 .\!gp-ml-0{margin-left:0!important}.gps-591939193999983364 .gp-mb-0{margin-bottom:0}.gps-591939193999983364 .gp-mb-\[-10px\]{margin-bottom:-10px}.gps-591939193999983364 .gp-line-clamp-2{-webkit-box-orient:vertical;-webkit-line-clamp:2;display:-webkit-box;overflow:hidden}.gps-591939193999983364 .gp-block{display:block}.gps-591939193999983364 .gp-inline-block{display:inline-block}.gps-591939193999983364 .\!gp-flex{display:flex!important}.gps-591939193999983364 .gp-flex{display:flex}.gps-591939193999983364 .gp-inline-flex{display:inline-flex}.gps-591939193999983364 .gp-grid{display:grid}.gps-591939193999983364 .gp-contents{display:contents}.gps-591939193999983364 .\!gp-hidden{display:none!important}.gps-591939193999983364 .gp-hidden{display:none}.gps-591939193999983364 .gp-aspect-\[56\/32\]{aspect-ratio:56/32}.gps-591939193999983364 .gp-h-0{height:0}.gps-591939193999983364 .gp-h-5{height:20px}.gps-591939193999983364 .gp-h-auto{height:auto}.gps-591939193999983364 .gp-h-full{height:100%}.gps-591939193999983364 .\!gp-min-h-full{min-height:100%!important}.gps-591939193999983364 .gp-w-14{width:56px}.gps-591939193999983364 .gp-w-5{width:20px}.gps-591939193999983364 .gp-w-auto{width:auto}.gps-591939193999983364 .gp-w-full{width:100%}.gps-591939193999983364 .gp-w-max{width:-moz-max-content;width:max-content}.gps-591939193999983364 .\!gp-min-w-full{min-width:100%!important}.gps-591939193999983364 .gp-min-w-fit{min-width:-moz-fit-content;min-width:fit-content}.gps-591939193999983364 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-591939193999983364 .\!gp-max-w-\[150px\]{max-width:150px!important}.gps-591939193999983364 .\!gp-max-w-full{max-width:100%!important}.gps-591939193999983364 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-591939193999983364 .gp-max-w-full{max-width:100%}.gps-591939193999983364 .gp-flex-1{flex:1 1 0%}.gps-591939193999983364 .gp-flex-none{flex:none}.gps-591939193999983364 .gp-shrink-0{flex-shrink:0}.gps-591939193999983364 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-591939193999983364 .-gp-translate-x-1\/2,.gps-591939193999983364 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-591939193999983364 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-591939193999983364 .gp-translate-x-\[-50\%\]{--tw-translate-x:-50%}.gps-591939193999983364 .gp-translate-x-\[-50\%\],.gps-591939193999983364 .gp-translate-y-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-591939193999983364 .gp-translate-y-0{--tw-translate-y:0px}.gps-591939193999983364 .gp-rotate-0{--tw-rotate:0deg}.gps-591939193999983364 .gp-rotate-0,.gps-591939193999983364 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-591939193999983364 .gp-rotate-180{--tw-rotate:180deg}.gps-591939193999983364 .\!gp-cursor-not-allowed{cursor:not-allowed!important}.gps-591939193999983364 .gp-cursor-default{cursor:default}.gps-591939193999983364 .gp-cursor-pointer{cursor:pointer}.gps-591939193999983364 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-591939193999983364 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-591939193999983364 .\!gp-flex-row{flex-direction:row!important}.gps-591939193999983364 .gp-flex-row{flex-direction:row}.gps-591939193999983364 .gp-flex-col{flex-direction:column}.gps-591939193999983364 .gp-flex-wrap{flex-wrap:wrap}.gps-591939193999983364 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-591939193999983364 .gp-items-start{align-items:flex-start}.gps-591939193999983364 .gp-items-center{align-items:center}.gps-591939193999983364 .gp-justify-start{justify-content:flex-start}.gps-591939193999983364 .gp-justify-center{justify-content:center}.gps-591939193999983364 .gp-justify-between{justify-content:space-between}.gps-591939193999983364 .gp-gap-2{gap:8px}.gps-591939193999983364 .gp-overflow-hidden{overflow:hidden}.gps-591939193999983364 .gp-truncate{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.gps-591939193999983364 .gp-text-ellipsis{text-overflow:ellipsis}.gps-591939193999983364 .gp-break-words{overflow-wrap:break-word}.gps-591939193999983364 .\!gp-rounded-none{border-radius:0!important}.gps-591939193999983364 .gp-rounded{border-radius:4px}.gps-591939193999983364 .gp-rounded-\[8px\]{border-radius:8px}.gps-591939193999983364 .gp-rounded-none{border-radius:0}.gps-591939193999983364 .gp-border-g-line-2{border-color:var(--g-c-line-2)}.gps-591939193999983364 .gp-bg-\[\#333333\]{--tw-bg-opacity:1;background-color:rgb(51 51 51/var(--tw-bg-opacity))}.gps-591939193999983364 .gp-bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-591939193999983364 .gp-bg-auto{background-size:auto}.gps-591939193999983364 .gp-object-cover{-o-object-fit:cover;object-fit:cover}.gps-591939193999983364 .gp-p-\[4px\]{padding:4px}.gps-591939193999983364 .gp-px-1{padding-left:4px;padding-right:4px}.gps-591939193999983364 .gp-px-\[8px\]{padding-left:8px;padding-right:8px}.gps-591939193999983364 .gp-py-\[4px\]{padding-bottom:4px;padding-top:4px}.gps-591939193999983364 .\!gp-pb-0{padding-bottom:0!important}.gps-591939193999983364 .gp-pl-4{padding-left:16px}.gps-591939193999983364 .gp-pr-6{padding-right:24px}.gps-591939193999983364 .gp-text-center{text-align:center}.gps-591939193999983364 .gp-text-\[12px\]{font-size:12px}.gps-591939193999983364 .gp-text-\[\#F9F9F9\]{--tw-text-opacity:1;color:rgb(249 249 249/var(--tw-text-opacity))}.gps-591939193999983364 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-591939193999983364 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-591939193999983364 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-591939193999983364 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-591939193999983364 .gp-text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.gps-591939193999983364 .gp-no-underline{text-decoration-line:none}.gps-591939193999983364 .gp-decoration-g-text-2{text-decoration-color:var(--g-c-text-2)}.gps-591939193999983364 .gp-opacity-25{opacity:.25}.gps-591939193999983364 .gp-opacity-30{opacity:.3}.gps-591939193999983364 .gp-opacity-75{opacity:.75}.gps-591939193999983364 .gp-shadow-none{--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-591939193999983364 .gp-outline-none{outline:2px solid transparent;outline-offset:2px}.gps-591939193999983364 .gp-outline-1{outline-width:1px}.gps-591939193999983364 .-gp-outline-offset-1{outline-offset:-1px}.gps-591939193999983364 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-591939193999983364 .gp-transition-opacity{transition-duration:.15s;transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-591939193999983364 .gp-duration-200{transition-duration:.2s}.gps-591939193999983364 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-591939193999983364 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-591939193999983364 .after\:gp-absolute:after{content:var(--tw-content);position:absolute}.gps-591939193999983364 .after\:gp-bottom-\[-10px\]:after{bottom:-10px;content:var(--tw-content)}.gps-591939193999983364 .after\:gp-left-0:after{content:var(--tw-content);left:0}.gps-591939193999983364 .after\:gp-w-full:after{content:var(--tw-content);width:100%}.gps-591939193999983364 .after\:gp-p-\[7px\]:after{content:var(--tw-content);padding:7px}.gps-591939193999983364 .after\:gp-content-\[\'\'\]:after{--tw-content:"";content:var(--tw-content)}@media (hover:hover) and (pointer:fine){.gps-591939193999983364 .hover\:gp-border-g-line-3:hover{border-color:var(--g-c-line-3)}.gps-591939193999983364 .hover\:gp-bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity))}}.gps-591939193999983364 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-591939193999983364 .gp-group:hover .group-hover\:gp-block{display:block}}.gps-591939193999983364 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-591939193999983364 .data-\[disabled\=\'disabled\'\]\:gp-pointer-events-none[data-disabled=disabled]{pointer-events:none}.gps-591939193999983364 .data-\[hidden\=\'false\'\]\:gp-flex[data-hidden=false]{display:flex}.gps-591939193999983364 .data-\[hidden\=true\]\:gp-hidden[data-hidden=true]{display:none}.gps-591939193999983364 .data-\[disabled\=\'disabled\'\]\:\!gp-cursor-not-allowed[data-disabled=disabled]{cursor:not-allowed!important}.gps-591939193999983364 .data-\[outline\=active\]\:gp-outline[data-outline=active]{outline-style:solid}.gps-591939193999983364 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-591939193999983364 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-591939193999983364 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1024px){.gps-591939193999983364 .tablet\:gp-static{position:static}.gps-591939193999983364 .tablet\:\!gp-relative{position:relative!important}.gps-591939193999983364 .tablet\:gp-left-0{left:0}.gps-591939193999983364 .tablet\:gp-right-0{right:0}.gps-591939193999983364 .tablet\:gp-block{display:block}.gps-591939193999983364 .tablet\:\!gp-flex{display:flex!important}.gps-591939193999983364 .tablet\:\!gp-hidden{display:none!important}.gps-591939193999983364 .tablet\:gp-hidden{display:none}.gps-591939193999983364 .tablet\:gp-h-auto{height:auto}.gps-591939193999983364 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-591939193999983364 .tablet\:gp-flex-none{flex:none}.gps-591939193999983364 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-591939193999983364 .tablet\:gp-rotate-0,.gps-591939193999983364 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-591939193999983364 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-591939193999983364 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-591939193999983364 .tablet\:gp-flex-row{flex-direction:row}.gps-591939193999983364 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-591939193999983364 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-591939193999983364 .mobile\:gp-static{position:static}.gps-591939193999983364 .mobile\:\!gp-relative{position:relative!important}.gps-591939193999983364 .mobile\:gp-left-0{left:0}.gps-591939193999983364 .mobile\:gp-right-0{right:0}.gps-591939193999983364 .mobile\:gp-block{display:block}.gps-591939193999983364 .mobile\:\!gp-flex{display:flex!important}.gps-591939193999983364 .mobile\:\!gp-hidden{display:none!important}.gps-591939193999983364 .mobile\:gp-hidden{display:none}.gps-591939193999983364 .mobile\:gp-h-auto{height:auto}.gps-591939193999983364 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-591939193999983364 .mobile\:gp-flex-none{flex:none}.gps-591939193999983364 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-591939193999983364 .mobile\:gp-rotate-0,.gps-591939193999983364 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-591939193999983364 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-591939193999983364 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-591939193999983364 .mobile\:gp-flex-row{flex-direction:row}.gps-591939193999983364 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-591939193999983364 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-591939193999983364 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-591939193999983364 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-591939193999983364 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-591939193999983364 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g4IgAJp0-p"}' data-id="g4IgAJp0-p" id="g4IgAJp0-p" data-same-height-subgrid-container class="g4IgAJp0-p gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gHstshdRfC gp-relative gp-flex gp-flex-col"
    >
      
    <link rel="preload" href="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/bg_singles_day_bf3f991d-c8f3-4858-8fc8-f2d47b9b20fa.png" as="image" />

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"fixed","color":"linear-gradient(130deg, #d365a3 0%, #efbdc7 48%, #a70948 100%)","image":{"src":"https://cdn.shopify.com/s/files/1/0254/3022/9055/files/bg_singles_day_bf3f991d-c8f3-4858-8fc8-f2d47b9b20fa.png","width":2400,"height":1530,"storage":"FILE_CONTENT","backupFileKey":""},"position":{"x":50,"y":50},"preload":true,"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gTA6DIB_BL"}' data-id="gTA6DIB_BL" id="gTA6DIB_BL" data-same-height-subgrid-container class="gTA6DIB_BL gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:100px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:40px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:100px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--h:auto;--bgc:linear-gradient(130deg, #d365a3 0%, #efbdc7 48%, #a70948 100%);--bgi:url(https://cdn.shopify.com/s/files/1/0254/3022/9055/files/bg_singles_day_bf3f991d-c8f3-4858-8fc8-f2d47b9b20fa.png), linear-gradient(130deg, #d365a3 0%, #efbdc7 48%, #a70948 100%);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:fixed;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gBWbLBLDyG gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gc83z7bHBJ"}' data-id="gc83z7bHBJ" id="gc83z7bHBJ" data-same-height-subgrid-container class="gc83z7bHBJ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:80px;--pl:var(--g-s-l);--pb:80px;--pr:var(--g-s-l);--pt-mobile:40px;--pl-mobile:var(--g-s-l);--pb-mobile:40px;--pr-mobile:var(--g-s-l);--pt-tablet:80px;--pl-tablet:var(--g-s-l);--pb-tablet:80px;--pr-tablet:var(--g-s-l);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gy-Oi9n-AQ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g7Khpe_YGZ"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1762526430809 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g7Khpe_YGZ"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/singles_day_coming_en_1024x.png" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA0NyIgaGVpZ2h0PSI0NjYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwNDctNDY2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDQ3IiBoZWlnaHQ9IjQ2NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA0NyIgaGVpZ2h0PSI0NjYiIGZpbGw9InVybCgjZy0xMDQ3LTQ2NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwNDciIHRvPSIxMDQ3IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/singles_day_coming_en_1024x.png" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA0NyIgaGVpZ2h0PSI0NjYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwNDctNDY2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDQ3IiBoZWlnaHQ9IjQ2NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA0NyIgaGVpZ2h0PSI0NjYiIGZpbGw9InVybCgjZy0xMDQ3LTQ2NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwNDciIHRvPSIxMDQ3IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/singles_day_coming_en.png" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA0NyIgaGVpZ2h0PSI0NjYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwNDctNDY2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDQ3IiBoZWlnaHQ9IjQ2NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA0NyIgaGVpZ2h0PSI0NjYiIGZpbGw9InVybCgjZy0xMDQ3LTQ2NikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwNDciIHRvPSIxMDQ3IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/singles_day_coming_en.png"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:contain;--objf-tablet:contain;--w:80%;--w-tablet:80%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ggme1MinFg"
        class="ggme1MinFg"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:var(--g-s-l);--mb:20px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:var(--g-s-l);--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:var(--g-s-l);--mb-tablet:20px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762526430810"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggme1MinFg_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:5px;--mb:10px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:5px;--mb-mobile:5px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:5px;--mb-tablet:10px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px" class="gNfjsYamqL ">
      
    <gp-countdown-timer
        data-id="gNfjsYamqL"
        gp-href="#"
        class="gp-flex"
        style="--jc:center"
        gp-data='{"autoHideWhenTimeout":true,"behaviour":"standard","dateStandard":"2025-11-10T21:59:05.403Z","dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hours","loopAfterFinish":true,"minuteLabel":"Minutes","redirectUrl":{"link":"#","target":"_self","type":"stay-on-page"},"secondLabel":"Seconds","timeZone":"UTC+0","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1740052445403,"hours":3,"mins":0,"startTime":1740041645403},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks","uid":"gNfjsYamqL","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"width":"1px 1px 1px 1px"}}},"boxShadow":{"desktop":{"normal":{"angle":49,"blur":"4px","color":"rgba(18, 18, 18, 0.7)","distance":"4px","spread":"4px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"pageType":"GP_STATIC","rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"desktop":{"link":false,"margin":{"bottom":"10px","top":"5px"},"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px"}},"edited":["desktop","mobile"],"mobile":{"link":false,"margin":{"bottom":"5px","top":"5px"},"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px"}},"tablet":{"margin":{"bottom":"10px","top":"5px"},"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px"}}}},"label":"Countdown Timer","settings":{"autoHideWhenTimeout":true,"behaviour":"standard","dateStandard":"2025-11-10T21:59:05.403Z","dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hours","loopAfterFinish":true,"minuteLabel":"Minutes","redirectUrl":{"link":"#","target":"_self","type":"stay-on-page"},"secondLabel":"Seconds","timeZone":"UTC+0","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1740052445403,"hours":3,"mins":0,"startTime":1740041645403},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks"},"styles":{"backgroundItemColor":"#00000000","borderState":{"normal":{"border":"none"}},"colorLabel":"text-1","colorNumber":"text-2","enableLabelTextStyle":true,"horizontalGap":"8px","itemPadding":{"desktop":{"bottom":"4px","left":"16px","right":"16px","top":"4px","type":"small"}},"labelTypo":{"attrs":{"color":"#FFFFFF","italic":false},"latestUpdate":"color","type":"paragraph-2"},"numTypo":{"type":"heading-3","attrs":{"bold":true,"color":"#FFFFFF"},"custom":{"fontSize":{"desktop":"60px","tablet":"30px","mobile":"30px"}}},"roundedState":{"normal":{"bblr":"5px","bbrr":"5px","btlr":"5px","btrr":"5px","radiusType":"custom"}},"textAlign":{"desktop":"center"},"verticalGap":"0px"},"tag":"Countdown","uid":"gNfjsYamqL","childrens":[],"type":"component"}}'>
        <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative  !gp-hidden" style="gap:8px;--jc:center">
          <a
              href="#"
              target="_self"
              aria-label="Countdown link"
              class="gp-absolute gp-inset-0 gp-z-1 gp-pointer-events-none"
            > </a>
          
          
    <div style="--pl:16px;--pr:16px;--pt:4px;--pb:4px;--bs:none;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--focus-bblr:5px;--focus-bbrr:5px;--focus-btlr:5px;--focus-btrr:5px;-undefined-bblr:5px;-undefined-bbrr:5px;-undefined-btlr:5px;-undefined-btrr:5px;--bg:#00000000" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNfjsYamqL-text" id="day"
        class="gNfjsYamqL"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762526430811"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2 gp-g-heading-3  gp-text-instant"
          style="--w:100%;--tdt:auto;--size:60px;--size-tablet:30px;--size-mobile:30px;--weight:bold;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNfjsYamqL-text"
        class="gNfjsYamqL"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762526430811"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1 gp-g-paragraph-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggNfjsYamqL_dayLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:16px;--pr:16px;--pt:4px;--pb:4px;--bs:none;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--focus-bblr:5px;--focus-bbrr:5px;--focus-btlr:5px;--focus-btrr:5px;-undefined-bblr:5px;-undefined-bbrr:5px;-undefined-btlr:5px;-undefined-btrr:5px;--bg:#00000000" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNfjsYamqL-text" id="hour"
        class="gNfjsYamqL"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762526430811"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2 gp-g-heading-3  gp-text-instant"
          style="--w:100%;--tdt:auto;--size:60px;--size-tablet:30px;--size-mobile:30px;--weight:bold;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNfjsYamqL-text"
        class="gNfjsYamqL"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762526430811"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1 gp-g-paragraph-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggNfjsYamqL_hourLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:16px;--pr:16px;--pt:4px;--pb:4px;--bs:none;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--focus-bblr:5px;--focus-bbrr:5px;--focus-btlr:5px;--focus-btrr:5px;-undefined-bblr:5px;-undefined-bbrr:5px;-undefined-btlr:5px;-undefined-btrr:5px;--bg:#00000000" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNfjsYamqL-text" id="minute"
        class="gNfjsYamqL"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762526430812"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2 gp-g-heading-3  gp-text-instant"
          style="--w:100%;--tdt:auto;--size:60px;--size-tablet:30px;--size-mobile:30px;--weight:bold;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNfjsYamqL-text"
        class="gNfjsYamqL"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762526430812"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1 gp-g-paragraph-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggNfjsYamqL_minuteLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:16px;--pr:16px;--pt:4px;--pb:4px;--bs:none;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--focus-bblr:5px;--focus-bbrr:5px;--focus-btlr:5px;--focus-btrr:5px;-undefined-bblr:5px;-undefined-bbrr:5px;-undefined-btlr:5px;-undefined-btrr:5px;--bg:#00000000" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNfjsYamqL-text" id="second"
        class="gNfjsYamqL"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762526430812"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2 gp-g-heading-3  gp-text-instant"
          style="--w:100%;--tdt:auto;--size:60px;--size-tablet:30px;--size-mobile:30px;--weight:bold;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNfjsYamqL-text"
        class="gNfjsYamqL"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762526430812"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1 gp-g-paragraph-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggNfjsYamqL_secondLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
        </div>
     </gp-countdown-timer>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-countdown-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--shadow:0px 0px 10px 0px RGBA(255, 255, 255, 0.8);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:10px;--mb:10px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:10px;--mb-mobile:10px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:10px;--mb-tablet:10px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px" class="gtwAei9Coe ">
      
    <div data-id="gtwAei9Coe" class="gp-flex gp-justify-center">
      <div style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--t:gp-rotate(0deg);--bc:RGBA(255, 255, 255, 0.8)" class="gp-block tablet:gp-block mobile:gp-block"></div>
      <div class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:RGBA(255, 255, 255, 0.8);--t:gp-rotate(0deg)">
        <div class="gp-hidden" style="--bc:RGBA(255, 255, 255, 0.8);--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s);--ml:var(--g-s-s)"
            >
              Title
            </span>
          
        <div class="gp-flex" style="--bc:RGBA(255, 255, 255, 0.8);--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
      </div>
    </div>
  
      </div>
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gMtywuv3yl"
        class="gMtywuv3yl"
        style="--ta:left;--bs:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:5px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:5px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:5px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762526430813"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-heading-3  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--weight:bold;--c:#FFFFFF;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggMtywuv3yl_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"uid":"grPA0OBeeE"}' data-id="grPA0OBeeE" id="grPA0OBeeE" data-same-height-subgrid-container class="grPA0OBeeE gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:var(--g-s-s);--mb:15px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:var(--g-s-s);--mb-mobile:15px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:var(--g-s-s);--mb-tablet:15px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:70%;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gcf_gy4LRF gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="guCSp0Fujg"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1762526430814 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto guCSp0Fujg"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/dr_ceuracle_singles_day_coming_fc15c8a2-52ef-4b27-9758-5b43a5717d8a_1024x.png" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMzY2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEzNjYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTM2NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMzY2IiBmaWxsPSJ1cmwoI2ctMTA4MC0xMzY2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/dr_ceuracle_singles_day_coming_fc15c8a2-52ef-4b27-9758-5b43a5717d8a_1024x.png" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMzY2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEzNjYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTM2NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMzY2IiBmaWxsPSJ1cmwoI2ctMTA4MC0xMzY2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/dr_ceuracle_singles_day_coming_fc15c8a2-52ef-4b27-9758-5b43a5717d8a.png" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMzY2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEzNjYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTM2NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMzY2IiBmaWxsPSJ1cmwoI2ctMTA4MC0xMzY2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/dr_ceuracle_singles_day_coming_fc15c8a2-52ef-4b27-9758-5b43a5717d8a.png"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:contain;--h:400px;--h-tablet:400px;--h-mobile:400px;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gDj1EXKQR8 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gPxPuTJO_2"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1762526430814 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gPxPuTJO_2"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/sbm_singles_day_coming_1024x.png" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMzA2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEzMDYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTMwNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMzA2IiBmaWxsPSJ1cmwoI2ctMTA4MC0xMzA2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/sbm_singles_day_coming_1024x.png" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMzA2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEzMDYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTMwNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMzA2IiBmaWxsPSJ1cmwoI2ctMTA4MC0xMzA2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/sbm_singles_day_coming.png" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMzA2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEzMDYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTMwNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMzA2IiBmaWxsPSJ1cmwoI2ctMTA4MC0xMzA2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/sbm_singles_day_coming.png"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:contain;--h:400px;--h-tablet:400px;--h-mobile:400px;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--shadow:0px 0px 10px 0px RGBA(255, 255, 255, 0.8);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:20px;--mb:10px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:20px;--mb-mobile:10px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:20px;--mb-tablet:10px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px" class="gwzopySHJ1 ">
      
    <div data-id="gwzopySHJ1" class="gp-flex gp-justify-center">
      <div style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--t:gp-rotate(0deg);--bc:RGBA(255, 255, 255, 0.8)" class="gp-block tablet:gp-block mobile:gp-block"></div>
      <div class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:RGBA(255, 255, 255, 0.8);--t:gp-rotate(0deg)">
        <div class="gp-hidden" style="--bc:RGBA(255, 255, 255, 0.8);--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s);--ml:var(--g-s-s)"
            >
              Title
            </span>
          
        <div class="gp-flex" style="--bc:RGBA(255, 255, 255, 0.8);--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
      </div>
    </div>
  
      </div>
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gc7Yb3YSJ7"
        class="gc7Yb3YSJ7"
        style="--ta:left;--bs:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:5px;--mb:5px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:5px;--mb-mobile:5px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:5px;--mb-tablet:5px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1762526430815"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-heading-3  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--weight:bold;--c:#FFFFFF;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggc7Yb3YSJ7_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    {% render 'gp-section-591939193999983364-1', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant, form: form  %}
    <gp-button
      gp-data='{"btnLink":{"link":"/collections/bestsellers","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:20px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:20px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center" >
        <style>[data-id="gxn0anWI4k"].gp-button-base::before, [data-id="gxn0anWI4k-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #FFFFFF;
  
    
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      
  
    }
  
      
  [data-id="gxn0anWI4k"]:hover::before, [data-id="gxn0anWI4k-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gxn0anWI4k" dataId="gxn0anWI4k" data-state="idle" aria-label="<p>See more products</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/collections/bestsellers" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--bgi:;--hvr-bgi:;--hvr-bg:#151515;--bg:#FFFFFF;--hvr-c:#FFFFFF;--c:#151515;--weight:bold;--tt:uppercase"
          class="gxn0anWI4k gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30  gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--weight:bold;--tt:uppercase;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggxn0anWI4k_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-591939193999983364 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/korean-skincare-uk/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=591939193932874500&sectionId=591939193999983364)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gggme1MinFg_text","label":"gggme1MinFg_text","default":"<p>It's almost time for one of the <strong>biggest sales</strong> of the year with 24 hours of huge discounts &amp; unbeatable deals!&nbsp;</p><p><strong>Prepare your cart</strong> before it begins to secure your favorite skincare products! The sale starts in:</p>"},{"type":"html","id":"ggNfjsYamqL_dayLabel","label":"ggNfjsYamqL_dayLabel","default":"Days"},{"type":"html","id":"ggNfjsYamqL_hourLabel","label":"ggNfjsYamqL_hourLabel","default":"Hours"},{"type":"html","id":"ggNfjsYamqL_minuteLabel","label":"ggNfjsYamqL_minuteLabel","default":"Minutes"},{"type":"html","id":"ggNfjsYamqL_secondLabel","label":"ggNfjsYamqL_secondLabel","default":"Seconds"},{"type":"html","id":"ggNfjsYamqL_weekLabel","label":"ggNfjsYamqL_weekLabel","default":"Weeks"},{"type":"html","id":"ggMtywuv3yl_text","label":"ggMtywuv3yl_text","default":"<p>Get ready for a sitewide discount &amp; special deals:</p>"},{"type":"html","id":"ggc7Yb3YSJ7_text","label":"ggc7Yb3YSJ7_text","default":"<p>Fill your cart with the best of K-Beauty:</p>"},{"type":"html","id":"gg3ijixBkS9_label","label":"gg3ijixBkS9_label","default":"Add to cart"},{"type":"html","id":"gg3ijixBkS9_outOfStockLabel","label":"gg3ijixBkS9_outOfStockLabel","default":"Out of stock"},{"type":"html","id":"gg3ijixBkS9_unavailableLabel","label":"gg3ijixBkS9_unavailableLabel","default":"Unavailable"},{"type":"html","id":"gg3ijixBkS9_variantSelectionRequiredMessage","label":"gg3ijixBkS9_variantSelectionRequiredMessage","default":"Please select a variant to add product to cart"},{"type":"html","id":"ggvOBH38UWq_label","label":"ggvOBH38UWq_label","default":"Add to cart"},{"type":"html","id":"ggvOBH38UWq_outOfStockLabel","label":"ggvOBH38UWq_outOfStockLabel","default":"Out of stock"},{"type":"html","id":"ggvOBH38UWq_unavailableLabel","label":"ggvOBH38UWq_unavailableLabel","default":"Unavailable"},{"type":"html","id":"ggvOBH38UWq_variantSelectionRequiredMessage","label":"ggvOBH38UWq_variantSelectionRequiredMessage","default":"Please select a variant to add product to cart"},{"type":"html","id":"ggzb0T-Gqwe_label","label":"ggzb0T-Gqwe_label","default":"Add to cart"},{"type":"html","id":"ggzb0T-Gqwe_outOfStockLabel","label":"ggzb0T-Gqwe_outOfStockLabel","default":"Out of stock"},{"type":"html","id":"ggzb0T-Gqwe_unavailableLabel","label":"ggzb0T-Gqwe_unavailableLabel","default":"Unavailable"},{"type":"html","id":"ggzb0T-Gqwe_variantSelectionRequiredMessage","label":"ggzb0T-Gqwe_variantSelectionRequiredMessage","default":"Please select a variant to add product to cart"},{"type":"html","id":"ggoL9b4Gzqu_label","label":"ggoL9b4Gzqu_label","default":"Add to cart"},{"type":"html","id":"ggoL9b4Gzqu_outOfStockLabel","label":"ggoL9b4Gzqu_outOfStockLabel","default":"Out of stock"},{"type":"html","id":"ggoL9b4Gzqu_unavailableLabel","label":"ggoL9b4Gzqu_unavailableLabel","default":"Unavailable"},{"type":"html","id":"ggoL9b4Gzqu_variantSelectionRequiredMessage","label":"ggoL9b4Gzqu_variantSelectionRequiredMessage","default":"Please select a variant to add product to cart"},{"type":"html","id":"ggoxP3Qy1yB_label","label":"ggoxP3Qy1yB_label","default":"Add to cart"},{"type":"html","id":"ggoxP3Qy1yB_outOfStockLabel","label":"ggoxP3Qy1yB_outOfStockLabel","default":"Out of stock"},{"type":"html","id":"ggoxP3Qy1yB_unavailableLabel","label":"ggoxP3Qy1yB_unavailableLabel","default":"Unavailable"},{"type":"html","id":"ggoxP3Qy1yB_variantSelectionRequiredMessage","label":"ggoxP3Qy1yB_variantSelectionRequiredMessage","default":"Please select a variant to add product to cart"},{"type":"html","id":"ggu8XKJdQS2_label","label":"ggu8XKJdQS2_label","default":"Add to cart"},{"type":"html","id":"ggu8XKJdQS2_outOfStockLabel","label":"ggu8XKJdQS2_outOfStockLabel","default":"Out of stock"},{"type":"html","id":"ggu8XKJdQS2_unavailableLabel","label":"ggu8XKJdQS2_unavailableLabel","default":"Unavailable"},{"type":"html","id":"ggu8XKJdQS2_variantSelectionRequiredMessage","label":"ggu8XKJdQS2_variantSelectionRequiredMessage","default":"Please select a variant to add product to cart"},{"type":"html","id":"ggxn0anWI4k_label","label":"ggxn0anWI4k_label","default":"<p>See more products</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  