
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-551349279805932773.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-551349279805932773.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-551349279805932773.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-551349279805932773.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-551349279805932773.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-551349279805932773.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-551349279805932773.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-551349279805932773.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-551349279805932773.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-551349279805932773.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-551349279805932773.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-551349279805932773.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-551349279805932773.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-551349279805932773.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-551349279805932773.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-551349279805932773.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-551349279805932773.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-551349279805932773.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-551349279805932773.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-551349279805932773.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-551349279805932773.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-551349279805932773.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-551349279805932773.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-551349279805932773.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-551349279805932773.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-551349279805932773.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-551349279805932773.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-551349279805932773.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-551349279805932773.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-551349279805932773.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-551349279805932773.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-551349279805932773.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-551349279805932773.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-551349279805932773.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-551349279805932773.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-551349279805932773.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-551349279805932773.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-551349279805932773.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-551349279805932773.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-551349279805932773.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-551349279805932773.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-551349279805932773.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-551349279805932773.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-551349279805932773.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-551349279805932773.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-551349279805932773.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-551349279805932773.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-551349279805932773.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-551349279805932773.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-551349279805932773.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-551349279805932773.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-551349279805932773.gps.gpsil [style*="--tdc:"]{text-decoration-color:var(--tdc)}.gps-551349279805932773.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-551349279805932773.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-551349279805932773.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-551349279805932773.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-551349279805932773.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-551349279805932773.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-551349279805932773.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-551349279805932773.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-551349279805932773.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-551349279805932773.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-551349279805932773.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-551349279805932773.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-551349279805932773.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-551349279805932773.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-551349279805932773.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-551349279805932773.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-551349279805932773.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-551349279805932773.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-551349279805932773.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-551349279805932773.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-551349279805932773.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-551349279805932773.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-551349279805932773.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-551349279805932773.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-551349279805932773.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-551349279805932773.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-551349279805932773.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-551349279805932773.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-551349279805932773.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-551349279805932773.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-551349279805932773.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-551349279805932773.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-551349279805932773.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-551349279805932773.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-551349279805932773.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-551349279805932773.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-551349279805932773.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-551349279805932773.gps.gpsil [style*="--objf-tablet:"]{-o-object-fit:var(--objf-tablet);object-fit:var(--objf-tablet)}.gps-551349279805932773.gps.gpsil [style*="--o-tablet:"]{order:var(--o-tablet)}.gps-551349279805932773.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-551349279805932773.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-551349279805932773.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-551349279805932773.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-551349279805932773.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-551349279805932773.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-551349279805932773.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-551349279805932773.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-551349279805932773.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-551349279805932773.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-551349279805932773.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-551349279805932773.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-551349279805932773.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-551349279805932773.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-551349279805932773.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-551349279805932773.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-551349279805932773.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-551349279805932773.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-551349279805932773.gps.gpsil [style*="--gg-mobile:"]{grid-gap:var(--gg-mobile)}.gps-551349279805932773.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-551349279805932773.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-551349279805932773.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-551349279805932773.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-551349279805932773.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-551349279805932773.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-551349279805932773.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-551349279805932773.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-551349279805932773.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-551349279805932773.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-551349279805932773.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-551349279805932773.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-551349279805932773.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-551349279805932773.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-551349279805932773.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-551349279805932773 .-gp-translate-x-1\/2,.gps-551349279805932773 .-gp-translate-y-1\/2,.gps-551349279805932773 .gp-rotate-0,.gps-551349279805932773 .gp-rotate-180,.gps-551349279805932773 .mobile\:gp-rotate-0,.gps-551349279805932773 .mobile\:gp-rotate-180,.gps-551349279805932773 .tablet\:gp-rotate-0,.gps-551349279805932773 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-551349279805932773 .gp-g-heading-2{font-family:var(--g-h2-ff);font-size:var(--g-h2-size);font-style:var(--g-h2-fs);font-weight:var(--g-h2-weight);letter-spacing:var(--g-h2-ls);line-height:var(--g-h2-lh)}.gps-551349279805932773 .gp-g-heading-3{font-family:var(--g-h3-ff);font-size:var(--g-h3-size);font-style:var(--g-h3-fs);font-weight:var(--g-h3-weight);letter-spacing:var(--g-h3-ls);line-height:var(--g-h3-lh)}.gps-551349279805932773 .gp-g-subheading-3{font-family:var(--g-sh3-ff);font-size:var(--g-sh3-size);font-style:var(--g-sh3-fs);font-weight:var(--g-sh3-weight);letter-spacing:var(--g-sh3-ls);line-height:var(--g-sh3-lh)}.gps-551349279805932773 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-551349279805932773 .gp-invisible{visibility:hidden}.gps-551349279805932773 .gp-static{position:static}.gps-551349279805932773 .gp-absolute{position:absolute}.gps-551349279805932773 .\!gp-relative{position:relative!important}.gps-551349279805932773 .gp-relative{position:relative}.gps-551349279805932773 .gp-left-0{left:0}.gps-551349279805932773 .gp-left-1\/2{left:50%}.gps-551349279805932773 .gp-right-0{right:0}.gps-551349279805932773 .gp-top-0{top:0}.gps-551349279805932773 .gp-top-1\/2{top:50%}.gps-551349279805932773 .gp-z-0{z-index:0}.gps-551349279805932773 .gp-z-1{z-index:1}.gps-551349279805932773 .gp-z-2{z-index:2}.gps-551349279805932773 .gp-z-\[90\]{z-index:90}.gps-551349279805932773 .\!gp-m-0{margin:0!important}.gps-551349279805932773 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-551349279805932773 .gp-my-0{margin-bottom:0;margin-top:0}.gps-551349279805932773 .gp-mb-0{margin-bottom:0}.gps-551349279805932773 .gp-block{display:block}.gps-551349279805932773 .gp-inline-block{display:inline-block}.gps-551349279805932773 .\!gp-flex{display:flex!important}.gps-551349279805932773 .gp-flex{display:flex}.gps-551349279805932773 .gp-inline-flex{display:inline-flex}.gps-551349279805932773 .gp-grid{display:grid}.gps-551349279805932773 .gp-contents{display:contents}.gps-551349279805932773 .\!gp-hidden{display:none!important}.gps-551349279805932773 .gp-hidden{display:none}.gps-551349279805932773 .gp-aspect-\[56\/32\]{aspect-ratio:56/32}.gps-551349279805932773 .gp-h-0{height:0}.gps-551349279805932773 .gp-h-auto{height:auto}.gps-551349279805932773 .gp-h-full{height:100%}.gps-551349279805932773 .\!gp-min-h-full{min-height:100%!important}.gps-551349279805932773 .gp-w-14{width:56px}.gps-551349279805932773 .gp-w-5{width:20px}.gps-551349279805932773 .gp-w-full{width:100%}.gps-551349279805932773 .\!gp-min-w-full{min-width:100%!important}.gps-551349279805932773 .\!gp-max-w-full{max-width:100%!important}.gps-551349279805932773 .gp-max-w-full{max-width:100%}.gps-551349279805932773 .gp-flex-1{flex:1 1 0%}.gps-551349279805932773 .gp-flex-none{flex:none}.gps-551349279805932773 .gp-shrink-0{flex-shrink:0}.gps-551349279805932773 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-551349279805932773 .-gp-translate-x-1\/2,.gps-551349279805932773 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-551349279805932773 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-551349279805932773 .gp-rotate-0{--tw-rotate:0deg}.gps-551349279805932773 .gp-rotate-0,.gps-551349279805932773 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-551349279805932773 .gp-rotate-180{--tw-rotate:180deg}.gps-551349279805932773 .gp-cursor-pointer{cursor:pointer}.gps-551349279805932773 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-551349279805932773 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-551349279805932773 .\!gp-flex-row{flex-direction:row!important}.gps-551349279805932773 .gp-flex-row{flex-direction:row}.gps-551349279805932773 .gp-flex-col{flex-direction:column}.gps-551349279805932773 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-551349279805932773 .gp-items-start{align-items:flex-start}.gps-551349279805932773 .gp-items-center{align-items:center}.gps-551349279805932773 .gp-justify-start{justify-content:flex-start}.gps-551349279805932773 .gp-justify-center{justify-content:center}.gps-551349279805932773 .gp-justify-between{justify-content:space-between}.gps-551349279805932773 .gp-gap-2{gap:8px}.gps-551349279805932773 .gp-overflow-hidden{overflow:hidden}.gps-551349279805932773 .gp-break-words{overflow-wrap:break-word}.gps-551349279805932773 .\!gp-rounded-none{border-radius:0!important}.gps-551349279805932773 .gp-rounded{border-radius:4px}.gps-551349279805932773 .gp-bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-551349279805932773 .gp-object-cover{-o-object-fit:cover;object-fit:cover}.gps-551349279805932773 .\!gp-pb-0{padding-bottom:0!important}.gps-551349279805932773 .gp-text-center{text-align:center}.gps-551349279805932773 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-551349279805932773 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-551349279805932773 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-551349279805932773 .gp-text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.gps-551349279805932773 .gp-no-underline{text-decoration-line:none}.gps-551349279805932773 .gp-decoration-g-text-2{text-decoration-color:var(--g-c-text-2)}.gps-551349279805932773 .gp-outline-1{outline-width:1px}.gps-551349279805932773 .-gp-outline-offset-1{outline-offset:-1px}.gps-551349279805932773 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-551349279805932773 .gp-transition-opacity{transition-duration:.15s;transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-551349279805932773 .gp-duration-200{transition-duration:.2s}.gps-551349279805932773 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-551349279805932773 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-551349279805932773 .hover\:gp-bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity))}}.gps-551349279805932773 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-551349279805932773 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-551349279805932773 .data-\[hidden\=true\]\:\!gp-hidden[data-hidden=true]{display:none!important}.gps-551349279805932773 .data-\[outline\=active\]\:gp-outline[data-outline=active]{outline-style:solid}.gps-551349279805932773 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-551349279805932773 .tablet\:gp-static{position:static}.gps-551349279805932773 .tablet\:\!gp-relative{position:relative!important}.gps-551349279805932773 .tablet\:gp-left-0{left:0}.gps-551349279805932773 .tablet\:gp-right-0{right:0}.gps-551349279805932773 .tablet\:gp-block{display:block}.gps-551349279805932773 .tablet\:\!gp-flex{display:flex!important}.gps-551349279805932773 .tablet\:\!gp-hidden{display:none!important}.gps-551349279805932773 .tablet\:gp-hidden{display:none}.gps-551349279805932773 .tablet\:gp-h-auto{height:auto}.gps-551349279805932773 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-551349279805932773 .tablet\:gp-flex-none{flex:none}.gps-551349279805932773 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-551349279805932773 .tablet\:gp-rotate-0,.gps-551349279805932773 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-551349279805932773 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-551349279805932773 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-551349279805932773 .tablet\:gp-flex-row{flex-direction:row}.gps-551349279805932773 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-551349279805932773 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-551349279805932773 .mobile\:gp-static{position:static}.gps-551349279805932773 .mobile\:\!gp-relative{position:relative!important}.gps-551349279805932773 .mobile\:gp-left-0{left:0}.gps-551349279805932773 .mobile\:gp-right-0{right:0}.gps-551349279805932773 .mobile\:gp-block{display:block}.gps-551349279805932773 .mobile\:\!gp-flex{display:flex!important}.gps-551349279805932773 .mobile\:\!gp-hidden{display:none!important}.gps-551349279805932773 .mobile\:gp-hidden{display:none}.gps-551349279805932773 .mobile\:gp-h-auto{height:auto}.gps-551349279805932773 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-551349279805932773 .mobile\:gp-flex-none{flex:none}.gps-551349279805932773 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-551349279805932773 .mobile\:gp-rotate-0,.gps-551349279805932773 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-551349279805932773 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-551349279805932773 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-551349279805932773 .mobile\:gp-flex-row{flex-direction:row}.gps-551349279805932773 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-551349279805932773 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-551349279805932773 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-551349279805932773 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-551349279805932773 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-551349279805932773 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gApj7dRJTU"}' data-id="gApj7dRJTU" id="gApj7dRJTU" data-same-height-subgrid-container class="gApj7dRJTU gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pl:15px;--pb:var(--g-s-2xl);--pr:15px;--pt-tablet:var(--g-s-2xl);--pl-tablet:30px;--pb-tablet:var(--g-s-2xl);--pr-tablet:30px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="ghFaK6X1gL gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gc_9RLISQj"}' data-id="gc_9RLISQj" id="gc_9RLISQj" data-same-height-subgrid-container class="gc_9RLISQj gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gaUoZQbU_U gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gvU1HbtyiJ"}' data-id="gvU1HbtyiJ" id="gvU1HbtyiJ" data-same-height-subgrid-container class="gvU1HbtyiJ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gwhwwapATu gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gk1DgAzP_-"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--mb:10px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764630172196 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gk1DgAzP_-"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_502342722212856862-58f16025-702e-4632-81e8-7ab52ab499cf.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwMCIgaGVpZ2h0PSIxNzk2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy01MDAwLTE3OTYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjUwMDAiIGhlaWdodD0iMTc5NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwMCIgaGVpZ2h0PSIxNzk2IiBmaWxsPSJ1cmwoI2ctNTAwMC0xNzk2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNTAwMCIgdG89IjUwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_502342722212856862-58f16025-702e-4632-81e8-7ab52ab499cf.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwMCIgaGVpZ2h0PSIxNzk2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy01MDAwLTE3OTYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjUwMDAiIGhlaWdodD0iMTc5NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwMCIgaGVpZ2h0PSIxNzk2IiBmaWxsPSJ1cmwoI2ctNTAwMC0xNzk2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNTAwMCIgdG89IjUwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_502342722212856862-58f16025-702e-4632-81e8-7ab52ab499cf.jpg" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwMCIgaGVpZ2h0PSIxNzk2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy01MDAwLTE3OTYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjUwMDAiIGhlaWdodD0iMTc5NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwMCIgaGVpZ2h0PSIxNzk2IiBmaWxsPSJ1cmwoI2ctNTAwMC0xNzk2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNTAwMCIgdG89IjUwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_502342722212856862-58f16025-702e-4632-81e8-7ab52ab499cf.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--radiusType:custom;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    <div
      role="presentation"
      data-id="gqRu2uKrOU"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bblr-mobile:5px;--bbrr-mobile:5px;--btlr-mobile:5px;--btrr-mobile:5px;--mb:var(--g-s-l);--mb-mobile:10px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764630172197 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gqRu2uKrOU"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_502342722212856862-0b74096e-0737-4cab-8b8d-8e231d3039d0.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjI1MCIgaGVpZ2h0PSIyMjUwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjUwLTIyNTAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyNTAiIGhlaWdodD0iMjI1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjI1MCIgaGVpZ2h0PSIyMjUwIiBmaWxsPSJ1cmwoI2ctMjI1MC0yMjUwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjI1MCIgdG89IjIyNTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://placehold.co/2400x862?text=Image" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQwMCIgaGVpZ2h0PSI4NjIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTI0MDAtODYyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyNDAwIiBoZWlnaHQ9Ijg2MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjQwMCIgaGVpZ2h0PSI4NjIiIGZpbGw9InVybCgjZy0yNDAwLTg2MikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTI0MDAiIHRvPSIyNDAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="https://placehold.co/2400x862?text=Image" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQwMCIgaGVpZ2h0PSI4NjIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTI0MDAtODYyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyNDAwIiBoZWlnaHQ9Ijg2MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjQwMCIgaGVpZ2h0PSI4NjIiIGZpbGw9InVybCgjZy0yNDAwLTg2MikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTI0MDAiIHRvPSIyNDAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="https://placehold.co/2400x862?text=Image"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--radiusType:custom;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gWDBhv6aXD"
        class="gWDBhv6aXD"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:20px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h1
          data-gp-text
          class="gp-g-heading-3  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--c:#fd76a9;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggWDBhv6aXD_text | replace: '$locationOrigin', locationOrigin }}
        </h1>
      </div>
    </div>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:12px;--pb:12px" class="g0Ghe440Hs ">
      
    <div data-id="g0Ghe440Hs" class="gp-flex gp-justify-start">
      <div style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:#fd76a9" class="gp-block tablet:gp-block mobile:gp-block"></div>
      <div class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#fd76a9;--t:gp-rotate(0deg)">
        <div class="gp-hidden" style="--bc:#fd76a9;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s);--ml:var(--g-s-s)"
            >
              Title
            </span>
          
        <div class="gp-flex" style="--bc:#fd76a9;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
      </div>
    </div>
  
      </div>
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gWDjfKpz45"
        class="gWDjfKpz45"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggWDjfKpz45_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFF3F9","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gUC0RjtIzb"}' data-id="gUC0RjtIzb" id="gUC0RjtIzb" data-same-height-subgrid-container class="gUC0RjtIzb gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:2px 2px 2px 2px;--bc:#fd76a9;--shadow:-4.949747468305832px 4.949747468305833px 0px 2px #fd76a9;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--mt:10px;--mb:40px;--pt:20px;--pl:20px;--pb:20px;--pr:20px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:#FFF3F9;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gdLCUrFQUt gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g60NAQWcSZ"}' data-id="g60NAQWcSZ" id="g60NAQWcSZ" data-same-height-subgrid-container class="g60NAQWcSZ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gh4W4HzXwY gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmxyFPT3X-"
        class="gmxyFPT3X-"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--weight:bold;--c:#fd76a9;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggmxyFPT3X-_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g9wwGMqbBq"}' data-id="g9wwGMqbBq" id="g9wwGMqbBq" data-same-height-subgrid-container class="g9wwGMqbBq gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:30px;--cg:30px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gGcoNEcHEd gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g5NrnCeOGe"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--pos:relative;--pos-tablet:relative;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:10px;--mb:10px;--pt:0px;--pb:0px;--top-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764630172219 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g5NrnCeOGe"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-32c8d509-1ceb-4a16-8380-f89b4c422cfd_768x.png" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9Ijg2MyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODAwLTg2MyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODAwIiBoZWlnaHQ9Ijg2MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9Ijg2MyIgZmlsbD0idXJsKCNnLTgwMC04NjMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04MDAiIHRvPSI4MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-32c8d509-1ceb-4a16-8380-f89b4c422cfd_1024x.png" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9Ijg2MyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODAwLTg2MyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODAwIiBoZWlnaHQ9Ijg2MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9Ijg2MyIgZmlsbD0idXJsKCNnLTgwMC04NjMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04MDAiIHRvPSI4MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-32c8d509-1ceb-4a16-8380-f89b4c422cfd.png" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9Ijg2MyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODAwLTg2MyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODAwIiBoZWlnaHQ9Ijg2MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9Ijg2MyIgZmlsbD0idXJsKCNnLTgwMC04NjMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04MDAiIHRvPSI4MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-32c8d509-1ceb-4a16-8380-f89b4c422cfd.png"
        alt=""
        width="100%"
        style="--aspect:auto;--objf:cover;--objf-tablet:contain;--w:200px;--h:auto;--h-tablet:200px;--h-mobile:200px;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_nTlx6qUG"
        class="g_nTlx6qUG"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:10px;--mb:20px;--pt:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          data-gp-text
          class="gp-g-subheading-3  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--c:#FD76A9;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_nTlx6qUG_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g4DuwLrhwR gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gr_1QqEmXi"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:10px;--mb:10px;--pt:0px;--pb:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764630172221 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gr_1QqEmXi"
    >
      <a
        href="https://koreanskincare.nl/cart" target="_self" title
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-cc0980eb-8030-48b8-85f1-7bde0408c051_768x.png" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9Ijg1OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODAwLTg1OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODAwIiBoZWlnaHQ9Ijg1OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9Ijg1OSIgZmlsbD0idXJsKCNnLTgwMC04NTkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04MDAiIHRvPSI4MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-cc0980eb-8030-48b8-85f1-7bde0408c051_1024x.png" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9Ijg1OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODAwLTg1OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODAwIiBoZWlnaHQ9Ijg1OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9Ijg1OSIgZmlsbD0idXJsKCNnLTgwMC04NTkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04MDAiIHRvPSI4MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-cc0980eb-8030-48b8-85f1-7bde0408c051.png" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9Ijg1OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODAwLTg1OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODAwIiBoZWlnaHQ9Ijg1OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9Ijg1OSIgZmlsbD0idXJsKCNnLTgwMC04NTkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04MDAiIHRvPSI4MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-cc0980eb-8030-48b8-85f1-7bde0408c051.png"
        alt=""
        width="100%"
        style="--aspect:auto;--objf:cover;--objf-tablet:contain;--w:200px;--h:auto;--h-tablet:200px;--h-mobile:200px;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </a>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gjpM80HViA"
        class="gjpM80HViA"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:10px;--mb:20px;--pt:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          data-gp-text
          class="gp-g-subheading-3  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--c:#FD76A9;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjpM80HViA_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g6r6wQ-QCJ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gBM0kIXF4G"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:10px;--mb:10px;--pt:0px;--pb:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764630172223 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gBM0kIXF4G"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_502342722212856862-6f27c49d-75d1-4db8-aa99-6665c3dd25b0.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAwIiBoZWlnaHQ9IjM2MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDAwLTM2MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDAwIiBoZWlnaHQ9IjM2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDAwIiBoZWlnaHQ9IjM2MCIgZmlsbD0idXJsKCNnLTQwMC0zNjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00MDAiIHRvPSI0MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_502342722212856862-6f27c49d-75d1-4db8-aa99-6665c3dd25b0.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAwIiBoZWlnaHQ9IjM2MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDAwLTM2MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDAwIiBoZWlnaHQ9IjM2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDAwIiBoZWlnaHQ9IjM2MCIgZmlsbD0idXJsKCNnLTQwMC0zNjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00MDAiIHRvPSI0MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_502342722212856862-6f27c49d-75d1-4db8-aa99-6665c3dd25b0.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAwIiBoZWlnaHQ9IjM2MCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDAwLTM2MCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDAwIiBoZWlnaHQ9IjM2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDAwIiBoZWlnaHQ9IjM2MCIgZmlsbD0idXJsKCNnLTQwMC0zNjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00MDAiIHRvPSI0MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_502342722212856862-6f27c49d-75d1-4db8-aa99-6665c3dd25b0.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--objf:cover;--objf-tablet:contain;--w:230px;--h:auto;--h-tablet:200px;--h-mobile:200px;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gqZtKlMEyp"
        class="gqZtKlMEyp"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:10px;--mb:20px;--pt:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          data-gp-text
          class="gp-g-subheading-3  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--c:#FD76A9;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggqZtKlMEyp_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gy2l_k9W5e"}' data-id="gy2l_k9W5e" id="gy2l_k9W5e" data-same-height-subgrid-container class="gy2l_k9W5e gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:20px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gJ_eeQRhHa gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gnHb-ZZmk_"
        class="gnHb-ZZmk_"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h1
          data-gp-text
          class="gp-g-heading-3  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--size:30px;--size-tablet:35px;--size-mobile:35px;--c:#fd76a9;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnHb-ZZmk__text | replace: '$locationOrigin', locationOrigin }}
        </h1>
      </div>
    </div>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:12px;--pb:12px" class="gJgqxKzXrU ">
      
    <div data-id="gJgqxKzXrU" class="gp-flex gp-justify-start">
      <div style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:#FD76A9" class="gp-block tablet:gp-block mobile:gp-block"></div>
      <div class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#FD76A9;--t:gp-rotate(0deg)">
        <div class="gp-hidden" style="--bc:#FD76A9;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s);--ml:var(--g-s-s)"
            >
              Title
            </span>
          
        <div class="gp-flex" style="--bc:#FD76A9;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
      </div>
    </div>
  
      </div>{% render 'gp-section-551349279805932773-1', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant, form: form  %}
    </div>

      
    </gp-row>
  
  
    <gp-button
      gp-data='{"btnLink":{"link":"/collections/needly","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:15px;--pt:0px;--ta:center" >
        <style>[data-id="gWDHN1GDES"].gp-button-base::before, [data-id="gWDHN1GDES-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    border-radius: var(--g-radius-small);
  
    }
  
      
  [data-id="gWDHN1GDES"]:hover::before, [data-id="gWDHN1GDES-interaction"]:hover::before {
    
    
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      
  }</style>
        
        <a
          data-id="gWDHN1GDES" dataId="gWDHN1GDES" data-state="idle" aria-label="<p>see more needly products</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/collections/needly" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:30px;--pr:30px;--pt:10px;--pb:10px;--radius:var(--g-radius-small);--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#FFC5E1;--bg:#fd76a9;--hvr-c:#fd76a9;--c:var(--g-c-text-3, text-3);--tt:uppercase"
          class="gWDHN1GDES gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 gp-g-heading-2"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--tt:uppercase;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggWDHN1GDES_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-551349279805932773 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/korean-skincare-uk/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=551349279755601125&sectionId=551349279805932773)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggWDBhv6aXD_text","label":"ggWDBhv6aXD_text","default":"Purchase Needly for a chance to win the Kiss of Life album &amp; merch!"},{"type":"html","id":"ggWDjfKpz45_text","label":"ggWDjfKpz45_text","default":"<p>Embrace the best of minimalistic K-Beauty with Needly – and get a chance to win a Kiss of Life album, photocard set, and exclusive keychain!</p>"},{"type":"html","id":"ggmxyFPT3X-_text","label":"ggmxyFPT3X-_text","default":"How to try your luck?"},{"type":"html","id":"gg_nTlx6qUG_text","label":"gg_nTlx6qUG_text","default":"Purchase any <a href=\"$locationOrigin/collections/needly\"><u>Needly</u></a> product"},{"type":"html","id":"ggjpM80HViA_text","label":"ggjpM80HViA_text","default":"Write \"Kiss of Life\" as an additional comment at <a href=\"$locationOrigin/cart\"><u>checkout</u></a>"},{"type":"html","id":"ggqZtKlMEyp_text","label":"ggqZtKlMEyp_text","default":"Keep an eye on your emails, you might be among the 2 lucky winners!"},{"type":"html","id":"ggnHb-ZZmk__text","label":"ggnHb-ZZmk__text","default":"Our Needly products selection"},{"type":"html","id":"ggDkqI1dPHB_label","label":"ggDkqI1dPHB_label","default":"See more"},{"type":"html","id":"ggo9LsSEnvY_label","label":"ggo9LsSEnvY_label","default":"See more"},{"type":"html","id":"ggZCqiB06Pl_label","label":"ggZCqiB06Pl_label","default":"See more"},{"type":"html","id":"ggipGlg-9v5_label","label":"ggipGlg-9v5_label","default":"See more"},{"type":"html","id":"ggNHl48QmoK_label","label":"ggNHl48QmoK_label","default":"See more"},{"type":"html","id":"ggljMqKBVrl_label","label":"ggljMqKBVrl_label","default":"See more"},{"type":"html","id":"ggkFS1x9LYz_label","label":"ggkFS1x9LYz_label","default":"See more"},{"type":"html","id":"ggWDHN1GDES_label","label":"ggWDHN1GDES_label","default":"<p>see more needly products</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}