
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-597749523049087932.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-597749523049087932.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-597749523049087932.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-597749523049087932.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-597749523049087932.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-597749523049087932.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-597749523049087932.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-597749523049087932.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-597749523049087932.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-597749523049087932.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-597749523049087932.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-597749523049087932.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-597749523049087932.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-597749523049087932.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-597749523049087932.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-597749523049087932.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-597749523049087932.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-597749523049087932.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-597749523049087932.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-597749523049087932.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-597749523049087932.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-597749523049087932.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-597749523049087932.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-597749523049087932.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-597749523049087932.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-597749523049087932.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-597749523049087932.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-597749523049087932.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-597749523049087932.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-597749523049087932.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-597749523049087932.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-597749523049087932.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-597749523049087932.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-597749523049087932.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-597749523049087932.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-597749523049087932.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-597749523049087932.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-597749523049087932.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-597749523049087932.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-597749523049087932.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-597749523049087932.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-597749523049087932.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-597749523049087932.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-597749523049087932.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-597749523049087932.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-597749523049087932.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-597749523049087932.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-597749523049087932.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-597749523049087932.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-597749523049087932.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-597749523049087932.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-597749523049087932.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-597749523049087932.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-597749523049087932.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-597749523049087932.gps.gpsil [style*="--minh:"]{min-height:var(--minh)}.gps-597749523049087932.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-597749523049087932.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-597749523049087932.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-597749523049087932.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-597749523049087932.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-597749523049087932.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-597749523049087932.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-597749523049087932.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-597749523049087932.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-597749523049087932.gps.gpsil [style*="--pe:"]{pointer-events:var(--pe)}.gps-597749523049087932.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-597749523049087932.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-597749523049087932.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-597749523049087932.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-597749523049087932.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-597749523049087932.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-597749523049087932.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-597749523049087932.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-597749523049087932.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-597749523049087932.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-597749523049087932.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-597749523049087932.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-597749523049087932.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-597749523049087932.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-597749523049087932.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-597749523049087932.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-597749523049087932.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-597749523049087932.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-597749523049087932.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-597749523049087932.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-597749523049087932.gps.gpsil [style*="--pe-tablet:"]{pointer-events:var(--pe-tablet)}.gps-597749523049087932.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-597749523049087932.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-597749523049087932.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-597749523049087932.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-597749523049087932.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-597749523049087932.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-597749523049087932.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-597749523049087932.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-597749523049087932.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-597749523049087932.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-597749523049087932.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-597749523049087932.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-597749523049087932.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-597749523049087932.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-597749523049087932.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-597749523049087932.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-597749523049087932.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-597749523049087932.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-597749523049087932.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-597749523049087932.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-597749523049087932.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-597749523049087932.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-597749523049087932.gps.gpsil [style*="--pe-mobile:"]{pointer-events:var(--pe-mobile)}.gps-597749523049087932.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-597749523049087932.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-597749523049087932.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-597749523049087932.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-597749523049087932.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-597749523049087932 .focus-visible\:gp-shadow-none,.gps-597749523049087932 .gp-shadow-xl{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-597749523049087932 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-597749523049087932 .gp-fixed{position:fixed}.gps-597749523049087932 .gp-absolute{position:absolute}.gps-597749523049087932 .gp-relative{position:relative}.gps-597749523049087932 .gp-inset-0{inset:0}.gps-597749523049087932 .gp-right-0{right:0}.gps-597749523049087932 .gp-top-0{top:0}.gps-597749523049087932 .gp-z-1{z-index:1}.gps-597749523049087932 .gp-z-50{z-index:50}.gps-597749523049087932 .gp-z-\[999999\]{z-index:999999}.gps-597749523049087932 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-597749523049087932 .gp-mb-0{margin-bottom:0}.gps-597749523049087932 .gp-block{display:block}.gps-597749523049087932 .gp-inline-block{display:inline-block}.gps-597749523049087932 .gp-flex{display:flex}.gps-597749523049087932 .gp-inline-flex{display:inline-flex}.gps-597749523049087932 .gp-grid{display:grid}.gps-597749523049087932 .gp-contents{display:contents}.gps-597749523049087932 .\!gp-hidden{display:none!important}.gps-597749523049087932 .gp-hidden{display:none}.gps-597749523049087932 .gp-h-auto{height:auto}.gps-597749523049087932 .gp-h-full{height:100%}.gps-597749523049087932 .gp-h-screen{height:100vh}.gps-597749523049087932 .\!gp-max-h-screen{max-height:100vh!important}.gps-597749523049087932 .gp-max-h-full{max-height:100%}.gps-597749523049087932 .gp-w-full{width:100%}.gps-597749523049087932 .gp-max-w-full{max-width:100%}.gps-597749523049087932 .gp-flex-none{flex:none}@keyframes gp-fadeIn{0%{opacity:0}to{opacity:1}}.gps-597749523049087932 .gp-animate-\[fadeIn_0\.4s_ease-in\]{animation:gp-fadeIn .4s ease-in}.gps-597749523049087932 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-597749523049087932 .gp-flex-col{flex-direction:column}.gps-597749523049087932 .gp-items-center{align-items:center}.gps-597749523049087932 .gp-justify-center{justify-content:center}.gps-597749523049087932 .gp-overflow-hidden{overflow:hidden}.gps-597749523049087932 .gp-overflow-y-auto{overflow-y:auto}.gps-597749523049087932 .gp-overflow-x-hidden{overflow-x:hidden}.gps-597749523049087932 .gp-break-words{overflow-wrap:break-word}.gps-597749523049087932 .gp-bg-transparent{background-color:transparent}.gps-597749523049087932 .gp-text-center{text-align:center}.gps-597749523049087932 .gp-align-middle{vertical-align:middle}.gps-597749523049087932 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-597749523049087932 .gp-no-underline{text-decoration-line:none}.gps-597749523049087932 .gp-shadow-xl{--tw-shadow:0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);--tw-shadow-colored:0 20px 25px -5px var(--tw-shadow-color),0 8px 10px -6px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-597749523049087932 .gp-outline-none{outline:2px solid transparent;outline-offset:2px}.gps-597749523049087932 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-597749523049087932 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-597749523049087932 .gp-duration-100{transition-duration:.1s}.gps-597749523049087932 .gp-duration-200{transition-duration:.2s}.gps-597749523049087932 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-597749523049087932 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-597749523049087932 .focus-visible\:gp-shadow-none:focus-visible{--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-597749523049087932 .focus-visible\:gp-outline-none:focus-visible{outline:2px solid transparent;outline-offset:2px}.gps-597749523049087932 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-597749523049087932 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-597749523049087932 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-597749523049087932 .tablet\:\!gp-hidden{display:none!important}.gps-597749523049087932 .tablet\:gp-hidden{display:none}.gps-597749523049087932 .tablet\:gp-h-auto{height:auto}.gps-597749523049087932 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-597749523049087932 .mobile\:\!gp-hidden{display:none!important}.gps-597749523049087932 .mobile\:gp-hidden{display:none}.gps-597749523049087932 .mobile\:gp-h-auto{height:auto}.gps-597749523049087932 .mobile\:gp-flex-none{flex:none}}.gps-597749523049087932 .\[\&\>svg\]\:\!gp-h-\[var\(--height-icon\)\]>svg{height:var(--height-icon)!important}.gps-597749523049087932 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-597749523049087932 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-597749523049087932 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cinzel/v26/8vIU7ww63mVu7gtR-kwKxNvkNOjw-lbgTYo.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
</style>
  
    
    
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"slide","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":true,"easing":"ease-out","zoomDirection":"in","scale":{"in":[80,100],"out":[120,100]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"down","isCustomDistance":false,"distance":"100"},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","speed":1.7,"easing":"ease-out"},"zoom":{"delay":"0","speed":1.7,"isFade":false,"easing":"ease-out","zoomDirection":"in","scale":{"in":[100,120],"out":[100,80]}},"slide":{"delay":"0","speed":1.7,"easing":"ease-out","direction":"left","isCustomDistance":false},"shake":{"delay":"0","speed":0.7,"loop":false,"intensity":11,"easing":"linear"}}}}}},"tag":"Dialog","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
    <gp-dialog
      data-id="gzeXh3OzZ8"
      class="{% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
      style="--d:contents;--d-tablet:contents;--d-mobile:contents"
      data-gp-setting='{"dialogId":"gzeXh3OzZ8","trigger":"none","triggerTime":0,"frequency":3,"triggerPercentage":10,"mobileTrigger":"none","mobileTriggerTime":10,"closeOnClickOutside":true,"frequencyMode":"every","display":{"desktop":true,"mobile":true,"tablet":true}}'>
      <dialog
        aria-label="Day 5"
        data-gp-dialog-id="gzeXh3OzZ8"
        class="gp-dialog gp-bg-transparent gp-z-[999999]"
        style="z-index:100001"
      >
        <div aria-label="Backdrop" class="gp-fixed gp-inset-0 gp-z-50 gp-flex gp-overflow-y-auto gp-overflow-x-hidden gp-shadow-xl gp-items-center gp-justify-center" style="--pe:auto;--pe-mobile:auto;--pe-tablet:auto">
        
            <div
              data-gp-dialog-overlay
              class="gp-fixed gp-inset-0 gp-block gp-transition-all gp-duration-100"
              style="--op:0.7;--bgc:#121212;--d:block;--d-mobile:block;--d-tablet:block"
              aria-hidden=true
            ></div>
        
          <span class="gp-inline-block gp-h-screen gp-align-middle"></span>
          <div
            role="dialog"
            aria-label="Dialog content"
            
            class="gp-relative gp-max-h-full gp-max-w-full gp-animate-[fadeIn_0.4s_ease-in] gp-overflow-hidden gp-shadow-xl"
            style="--mt:50px;--ml:20px;--mb:20px;--mr:20px;--mt-tablet:50px;--ml-tablet:20px;--mb-tablet:20px;--mr-tablet:20px;--mt-mobile:200px;--ml-mobile:20px;--mb-mobile:100px;--mr-mobile:20px;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--bblr-mobile:5px;--bbrr-mobile:5px;--btlr-mobile:5px;--btrr-mobile:5px;--d:block;--d-mobile:block;--d-tablet:block;--w:1200px;--w-tablet:1200px;--w-mobile:100%;--minh:300px;--h-tablet:Auto;--h-mobile:Auto"
          >
            <button
              data-gp-dialog-close
              type="button"
              tabindex="-1"
              class="gp-absolute gp-top-0 gp-right-0 gp-inline-flex gp-items-center gp-justify-center gp-outline-none focus-visible:gp-shadow-none focus-visible:gp-outline-none gp-overflow-hidden gp-z-1"
              style="--w:40px;--h:40px;--c:var(--g-c-line-3, line-3);--bgc:#ffffff;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--focus-bblr:5px;--focus-bbrr:5px;--focus-btlr:5px;--focus-btrr:5px;-undefined-bblr:5px;-undefined-bbrr:5px;-undefined-btlr:5px;-undefined-btrr:5px"
            >
              <span style="--height-icon:20px" class="[&>svg]:!gp-w-auto [&>svg]:!gp-h-[var(--height-icon)]">
              <svg viewBox="0 0 12 12" fill="currentColor" style={svgContentStyle}>
                <path d="M7.1,6l4.5,4.5l-1.1,1.1L6,7.1l-4.5,4.5l-1.1-1.1L4.9,6L0.5,1.5l1.1-1.1L6,4.9l4.5-4.5l1.1,1.1L7.1,6z"></path>
              </svg>
              </span>
            </button>
            <div
              aria-label="Dialog body"
              style="--shadow:none;--op:100%;--pageType:GP_STATIC;--pt:40px;--pl:40px;--pb:40px;--pr:40px;--pt-tablet:40px;--pl-tablet:40px;--pb-tablet:40px;--pr-tablet:40px;--pt-mobile:30px;--pl-mobile:30px;--pb-mobile:30px;--pr-mobile:30px;--minh:300px;--h-tablet:Auto;--h-mobile:Auto;border-radius:inherit;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
              class="gp-h-full gp-w-full gp-overflow-y-auto gp-overflow-x-hidden !gp-max-h-screen">
                <div>
                  
    

    

    
    <gp-row gp-data='{"uid":"gRSDy7h6Sl"}' data-id="gRSDy7h6Sl" id="gRSDy7h6Sl" data-same-height-subgrid-container class="gRSDy7h6Sl gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:30px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gCrcNG-Te8 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g480uaLN-4"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1765872202712 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g480uaLN-4"
    >
      <a
        href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/collections/moisturisers" target="_self" title
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "Online-Advent-Calendar-2025_Popup-Day5_EN.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9IjEwMDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTgwMC0xMDAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI4MDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9IjEwMDAiIGZpbGw9InVybCgjZy04MDAtMTAwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTgwMCIgdG89IjgwMCIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Online-Advent-Calendar-2025_Popup-Day5_EN.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9IjEwMDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTgwMC0xMDAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI4MDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9IjEwMDAiIGZpbGw9InVybCgjZy04MDAtMTAwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTgwMCIgdG89IjgwMCIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" />
    
      
      <img
        base-src="{{ "Online-Advent-Calendar-2025_Popup-Day5_EN.jpg" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9IjEwMDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTgwMC0xMDAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI4MDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9IjEwMDAiIGZpbGw9InVybCgjZy04MDAtMTAwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTgwMCIgdG89IjgwMCIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" data-src="{{ "Online-Advent-Calendar-2025_Popup-Day5_EN.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:5px;--bblr:5px;--bbrr:5px;--btlr:5px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </a>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gTBH4FX8VO gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gOPCsa37MD"}' data-id="gOPCsa37MD" id="gOPCsa37MD" data-same-height-subgrid-container class="gOPCsa37MD gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:40px;--pb:0px;--pr:40px;--ml-tablet:auto;--mb-tablet:0px;--mr-tablet:auto;--pt-tablet:0px;--pl-tablet:40px;--pb-tablet:0px;--pr-tablet:40px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g8iHuAwYhc gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gd66uJ_M7z"
      style="--mb:10px;--mb-tablet:10px;--mb-mobile:10px;--d:block;--d-tablet:block;--d-mobile:none;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1765872202716 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gd66uJ_M7z"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "Online-Advent-Calendar-2025_Landing-Page-PopUps_Day5.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIwIiBoZWlnaHQ9IjQwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzIwLTQwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzIwIiBoZWlnaHQ9IjQwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzIwIiBoZWlnaHQ9IjQwMCIgZmlsbD0idXJsKCNnLTMyMC00MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zMjAiIHRvPSIzMjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Online-Advent-Calendar-2025_Landing-Page-PopUps_Day5.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIwIiBoZWlnaHQ9IjQwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzIwLTQwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzIwIiBoZWlnaHQ9IjQwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzIwIiBoZWlnaHQ9IjQwMCIgZmlsbD0idXJsKCNnLTMyMC00MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zMjAiIHRvPSIzMjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "Online-Advent-Calendar-2025_Landing-Page-PopUps_Day5.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIwIiBoZWlnaHQ9IjQwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzIwLTQwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzIwIiBoZWlnaHQ9IjQwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzIwIiBoZWlnaHQ9IjQwMCIgZmlsbD0idXJsKCNnLTMyMC00MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zMjAiIHRvPSIzMjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "Online-Advent-Calendar-2025_Landing-Page-PopUps_Day5.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:20%;--w-tablet:20%;--w-mobile:20%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gSalRV5ACo"
        class="gSalRV5ACo"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--pb:0px;--mb-tablet:10px;--pb-tablet:0px;--mb-mobile:10px;--pb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--fs:normal;--ff:var(--g-font-Cinzel, 'Cinzel'), var(--g-font-heading, heading);--weight:800;--size:24px;--size-tablet:24px;--size-mobile:22px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggSalRV5ACo_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gsEon-W6kC"
        class="gsEon-W6kC"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--mb-tablet:10px;--mb-mobile:10px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggsEon-W6kC_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"/collections/moisturisers","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--mb:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center" >
        <style>[data-id="gOpsdA_n3i"].gp-button-base::before, [data-id="gOpsdA_n3i-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      
  
    }
  
      
  [data-id="gOpsdA_n3i"]:hover::before, [data-id="gOpsdA_n3i-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gOpsdA_n3i" dataId="gOpsdA_n3i" data-state="idle" aria-label="<p>GET MY GIFT</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/collections/moisturisers" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--bgi:;--hvr-bgi:;--bg:var(--g-c-brand, brand);--hvr-bg:var(--g-c-highlight, highlight);--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:uppercase"
          class="gOpsdA_n3i gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:uppercase;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggOpsdA_n3i_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gybXbVGKqh"
        class="gybXbVGKqh"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:30px;--mt-tablet:30px;--mt-mobile:30px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-tablet:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:12px;--size-tablet:12px;--size-mobile:12px;--fs:italic;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggybXbVGKqh_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
                </div>
            </div>
          </div>
        </div>
      </dialog>
    </gp-dialog>
    <script src="https://assets.gemcommerce.com/assets-v2/gp-dialog-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  </div>
  </gp-animation>
  <script src="https://assets.gemcommerce.com/assets-v2/gp-animation-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    
{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-597749523049087932 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/korean-skincare-uk/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=596858296531420140&sectionId=597749523049087932)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggSalRV5ACo_text","label":"ggSalRV5ACo_text","default":"Day 5"},{"type":"html","id":"ggsEon-W6kC_text","label":"ggsEon-W6kC_text","default":"<p>The elves know that freezing winter air is tough on your hands. Therefore, they want to treat you with a special offer: buy ANY moisturizer and get a <strong>FREE Mini W.Dressroom Hand Cream</strong>.&nbsp;</p>"},{"type":"html","id":"ggOpsdA_n3i_label","label":"ggOpsdA_n3i_label","default":"<p>GET MY GIFT</p>"},{"type":"html","id":"ggybXbVGKqh_text","label":"ggybXbVGKqh_text","default":"<p>While stocks last. Free item added automatically at checkout. Offer available until Friday, December 19, 08:00 GMT. Applicable to in-stock items only.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}