
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-608436638967661250.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-608436638967661250.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-608436638967661250.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-608436638967661250.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-608436638967661250.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-608436638967661250.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-608436638967661250.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-608436638967661250.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-608436638967661250.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-608436638967661250.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-608436638967661250.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-608436638967661250.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-608436638967661250.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-608436638967661250.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-608436638967661250.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-608436638967661250.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-608436638967661250.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-608436638967661250.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-608436638967661250.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-608436638967661250.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-608436638967661250.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-608436638967661250.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-608436638967661250.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-608436638967661250.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-608436638967661250.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-608436638967661250.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-608436638967661250.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-608436638967661250.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-608436638967661250.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-608436638967661250.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-608436638967661250.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-608436638967661250.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-608436638967661250.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-608436638967661250.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-608436638967661250.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-608436638967661250.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-608436638967661250.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-608436638967661250.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-608436638967661250.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-608436638967661250.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-608436638967661250.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-608436638967661250.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-608436638967661250.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-608436638967661250.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-608436638967661250.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-608436638967661250.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-608436638967661250.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-608436638967661250.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-608436638967661250.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-608436638967661250.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-608436638967661250.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-608436638967661250.gps.gpsil [style*="--tdc:"]{text-decoration-color:var(--tdc)}.gps-608436638967661250.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-608436638967661250.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-608436638967661250.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-608436638967661250.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-608436638967661250.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-608436638967661250.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-608436638967661250.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-608436638967661250.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-608436638967661250.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-608436638967661250.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-608436638967661250.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-608436638967661250.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-608436638967661250.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-608436638967661250.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-608436638967661250.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-608436638967661250.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-608436638967661250.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-608436638967661250.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-608436638967661250.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-608436638967661250.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-608436638967661250.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-608436638967661250.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-608436638967661250.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-608436638967661250.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-608436638967661250.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-608436638967661250.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-608436638967661250.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-608436638967661250.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-608436638967661250.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-608436638967661250.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-608436638967661250.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-608436638967661250.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-608436638967661250.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-608436638967661250.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-608436638967661250.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-608436638967661250.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-608436638967661250.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-608436638967661250.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-608436638967661250.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-608436638967661250.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-608436638967661250.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-608436638967661250.gps.gpsil [style*="--o-tablet:"]{order:var(--o-tablet)}.gps-608436638967661250.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-608436638967661250.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-608436638967661250.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-608436638967661250.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-608436638967661250.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-608436638967661250.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-608436638967661250.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-608436638967661250.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-608436638967661250.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-608436638967661250.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-608436638967661250.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-608436638967661250.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-608436638967661250.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-608436638967661250.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-608436638967661250.gps.gpsil [style*="--gg-mobile:"]{grid-gap:var(--gg-mobile)}.gps-608436638967661250.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-608436638967661250.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-608436638967661250.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-608436638967661250.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-608436638967661250.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-608436638967661250.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-608436638967661250.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-608436638967661250.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-608436638967661250.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-608436638967661250.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-608436638967661250.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-608436638967661250.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-608436638967661250.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-608436638967661250.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-608436638967661250.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-608436638967661250.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-608436638967661250.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-608436638967661250.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-608436638967661250.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-608436638967661250.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-608436638967661250.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-608436638967661250 .-gp-translate-x-1\/2,.gps-608436638967661250 .-gp-translate-y-1\/2,.gps-608436638967661250 .gp-rotate-0,.gps-608436638967661250 .gp-rotate-180,.gps-608436638967661250 .mobile\:gp-rotate-0,.gps-608436638967661250 .mobile\:gp-rotate-180,.gps-608436638967661250 .tablet\:gp-rotate-0,.gps-608436638967661250 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-608436638967661250 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-608436638967661250 .gp-g-heading-2{font-family:var(--g-h2-ff);font-size:var(--g-h2-size);font-style:var(--g-h2-fs);font-weight:var(--g-h2-weight);letter-spacing:var(--g-h2-ls);line-height:var(--g-h2-lh)}.gps-608436638967661250 .gp-g-heading-3{font-family:var(--g-h3-ff);font-size:var(--g-h3-size);font-style:var(--g-h3-fs);font-weight:var(--g-h3-weight);letter-spacing:var(--g-h3-ls);line-height:var(--g-h3-lh)}.gps-608436638967661250 .gp-g-subheading-3{font-family:var(--g-sh3-ff);font-size:var(--g-sh3-size);font-style:var(--g-sh3-fs);font-weight:var(--g-sh3-weight);letter-spacing:var(--g-sh3-ls);line-height:var(--g-sh3-lh)}.gps-608436638967661250 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-608436638967661250 .gp-invisible{visibility:hidden}.gps-608436638967661250 .gp-absolute{position:absolute}.gps-608436638967661250 .gp-relative{position:relative}.gps-608436638967661250 .gp-left-0{left:0}.gps-608436638967661250 .gp-left-1\/2{left:50%}.gps-608436638967661250 .gp-right-0{right:0}.gps-608436638967661250 .gp-top-0{top:0}.gps-608436638967661250 .gp-top-1\/2{top:50%}.gps-608436638967661250 .gp-z-0{z-index:0}.gps-608436638967661250 .gp-z-1{z-index:1}.gps-608436638967661250 .gp-z-2{z-index:2}.gps-608436638967661250 .gp-z-\[90\]{z-index:90}.gps-608436638967661250 .\!gp-m-0{margin:0!important}.gps-608436638967661250 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-608436638967661250 .gp-my-0{margin-bottom:0;margin-top:0}.gps-608436638967661250 .gp-mb-0{margin-bottom:0}.gps-608436638967661250 .gp-block{display:block}.gps-608436638967661250 .gp-inline-block{display:inline-block}.gps-608436638967661250 .gp-flex{display:flex}.gps-608436638967661250 .gp-inline-flex{display:inline-flex}.gps-608436638967661250 .gp-grid{display:grid}.gps-608436638967661250 .gp-contents{display:contents}.gps-608436638967661250 .\!gp-hidden{display:none!important}.gps-608436638967661250 .gp-hidden{display:none}.gps-608436638967661250 .gp-aspect-\[56\/32\]{aspect-ratio:56/32}.gps-608436638967661250 .gp-h-0{height:0}.gps-608436638967661250 .gp-h-auto{height:auto}.gps-608436638967661250 .gp-h-full{height:100%}.gps-608436638967661250 .\!gp-min-h-full{min-height:100%!important}.gps-608436638967661250 .gp-w-14{width:56px}.gps-608436638967661250 .gp-w-5{width:20px}.gps-608436638967661250 .gp-w-full{width:100%}.gps-608436638967661250 .\!gp-min-w-full{min-width:100%!important}.gps-608436638967661250 .\!gp-max-w-full{max-width:100%!important}.gps-608436638967661250 .gp-max-w-full{max-width:100%}.gps-608436638967661250 .gp-flex-1{flex:1 1 0%}.gps-608436638967661250 .gp-flex-none{flex:none}.gps-608436638967661250 .gp-shrink-0{flex-shrink:0}.gps-608436638967661250 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-608436638967661250 .-gp-translate-x-1\/2,.gps-608436638967661250 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-608436638967661250 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-608436638967661250 .gp-rotate-0{--tw-rotate:0deg}.gps-608436638967661250 .gp-rotate-0,.gps-608436638967661250 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-608436638967661250 .gp-rotate-180{--tw-rotate:180deg}.gps-608436638967661250 .gp-cursor-pointer{cursor:pointer}.gps-608436638967661250 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-608436638967661250 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-608436638967661250 .\!gp-flex-row{flex-direction:row!important}.gps-608436638967661250 .gp-flex-row{flex-direction:row}.gps-608436638967661250 .gp-flex-col{flex-direction:column}.gps-608436638967661250 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-608436638967661250 .gp-items-start{align-items:flex-start}.gps-608436638967661250 .gp-items-center{align-items:center}.gps-608436638967661250 .gp-justify-start{justify-content:flex-start}.gps-608436638967661250 .gp-justify-center{justify-content:center}.gps-608436638967661250 .gp-justify-between{justify-content:space-between}.gps-608436638967661250 .gp-gap-2{gap:8px}.gps-608436638967661250 .gp-overflow-hidden{overflow:hidden}.gps-608436638967661250 .gp-break-words{overflow-wrap:break-word}.gps-608436638967661250 .\!gp-rounded-none{border-radius:0!important}.gps-608436638967661250 .gp-rounded{border-radius:4px}.gps-608436638967661250 .gp-bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-608436638967661250 .gp-object-cover{-o-object-fit:cover;object-fit:cover}.gps-608436638967661250 .\!gp-pb-0{padding-bottom:0!important}.gps-608436638967661250 .gp-text-center{text-align:center}.gps-608436638967661250 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-608436638967661250 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-608436638967661250 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity,1))}.gps-608436638967661250 .gp-text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity,1))}.gps-608436638967661250 .gp-no-underline{text-decoration-line:none}.gps-608436638967661250 .gp-decoration-g-text-2{text-decoration-color:var(--g-c-text-2)}.gps-608436638967661250 .gp-outline-1{outline-width:1px}.gps-608436638967661250 .-gp-outline-offset-1{outline-offset:-1px}.gps-608436638967661250 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-608436638967661250 .gp-transition-opacity{transition-duration:.15s;transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-608436638967661250 .gp-duration-200{transition-duration:.2s}.gps-608436638967661250 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-608436638967661250 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-608436638967661250 .hover\:gp-bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity,1))}}.gps-608436638967661250 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-608436638967661250 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-608436638967661250 .data-\[hidden\=true\]\:\!gp-hidden[data-hidden=true]{display:none!important}.gps-608436638967661250 .data-\[outline\=active\]\:gp-outline[data-outline=active]{outline-style:solid}.gps-608436638967661250 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-608436638967661250 .tablet\:gp-static{position:static}.gps-608436638967661250 .tablet\:\!gp-relative{position:relative!important}.gps-608436638967661250 .tablet\:gp-left-0{left:0}.gps-608436638967661250 .tablet\:gp-right-0{right:0}.gps-608436638967661250 .tablet\:gp-block{display:block}.gps-608436638967661250 .tablet\:\!gp-flex{display:flex!important}.gps-608436638967661250 .tablet\:\!gp-hidden{display:none!important}.gps-608436638967661250 .tablet\:gp-hidden{display:none}.gps-608436638967661250 .tablet\:gp-h-auto{height:auto}.gps-608436638967661250 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-608436638967661250 .tablet\:gp-flex-none{flex:none}.gps-608436638967661250 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-608436638967661250 .tablet\:gp-rotate-0,.gps-608436638967661250 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-608436638967661250 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-608436638967661250 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-608436638967661250 .tablet\:gp-flex-row{flex-direction:row}.gps-608436638967661250 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-608436638967661250 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-608436638967661250 .mobile\:gp-static{position:static}.gps-608436638967661250 .mobile\:\!gp-relative{position:relative!important}.gps-608436638967661250 .mobile\:gp-left-0{left:0}.gps-608436638967661250 .mobile\:gp-right-0{right:0}.gps-608436638967661250 .mobile\:gp-block{display:block}.gps-608436638967661250 .mobile\:\!gp-flex{display:flex!important}.gps-608436638967661250 .mobile\:\!gp-hidden{display:none!important}.gps-608436638967661250 .mobile\:gp-hidden{display:none}.gps-608436638967661250 .mobile\:gp-h-auto{height:auto}.gps-608436638967661250 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-608436638967661250 .mobile\:gp-flex-none{flex:none}.gps-608436638967661250 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-608436638967661250 .mobile\:gp-rotate-0,.gps-608436638967661250 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-608436638967661250 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-608436638967661250 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-608436638967661250 .mobile\:gp-flex-row{flex-direction:row}.gps-608436638967661250 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-608436638967661250 .mobile\:gp-justify-center{justify-content:center}.gps-608436638967661250 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-608436638967661250 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-608436638967661250 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-608436638967661250 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-608436638967661250 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g0tHzitokw"}' data-id="g0tHzitokw" id="g0tHzitokw" data-same-height-subgrid-container class="g0tHzitokw gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gK6OwziyJq gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFF3F9","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gqxBRcIuUD"}' data-id="gqxBRcIuUD" id="gqxBRcIuUD" data-same-height-subgrid-container class="gqxBRcIuUD gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--cg:0px;--gtc:minmax(0, 3fr) minmax(0, 9fr);--gtc-tablet:minmax(0, 3fr) minmax(0, 9fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--bgc:#FFF3F9;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gwVD1egJQi gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g_SfJdRNTi"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-tablet:center"
      class="gp-group/image gp-relative force-publish-1775031242097 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g_SfJdRNTi"
    >
      <div
        
        style="border-radius:inherit;--jc:center;--jc-tablet:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.gg_SfJdRNTi_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9IjgwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODAwLTgwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODAwIiBoZWlnaHQ9IjgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9IjgwMCIgZmlsbD0idXJsKCNnLTgwMC04MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04MDAiIHRvPSI4MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.gg_SfJdRNTi_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9IjgwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODAwLTgwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODAwIiBoZWlnaHQ9IjgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9IjgwMCIgZmlsbD0idXJsKCNnLTgwMC04MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04MDAiIHRvPSI4MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.gg_SfJdRNTi_srcSet_desktop_src }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9IjgwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODAwLTgwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODAwIiBoZWlnaHQ9IjgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9IjgwMCIgZmlsbD0idXJsKCNnLTgwMC04MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04MDAiIHRvPSI4MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.gg_SfJdRNTi_srcSet_desktop_src }}"
        alt="{{ section.settings.gg_SfJdRNTi_alt }}"
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:300px;--h-tablet:300px;--h-mobile:300px;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="giIsPA9DXT gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gLdNijixX9"}' data-id="gLdNijixX9" id="gLdNijixX9" data-same-height-subgrid-container class="gLdNijixX9 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr] gp-target-row" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:30px;--mr:30px;--pl:0px;--pr:0px;--mt-mobile:50px;--ml-mobile:auto;--mb-mobile:50px;--mr-mobile:auto;--pl-mobile:10px;--pr-mobile:10px;--mt-tablet:50px;--ml-tablet:30px;--mb-tablet:50px;--mr-tablet:30px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g2hcjrki6T gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gKi-HdgyAJ"
        class="gKi-HdgyAJ"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:8px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:italic;--c:#fd76a9;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          <p>{{ article.tags }}</p>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gP1lO_QaRh"
        class="gP1lO_QaRh gp-title-page"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h1
          data-gp-text
          class="gp-g-heading-3  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:center;--size:30px;--size-tablet:35px;--size-mobile:30px;--c:#FD76A9;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ article.title }}
        </h1>
      </div>
    </div>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:12px;--pb:12px" class="gq-7b3WxTG ">
      
    <div data-id="gq-7b3WxTG" class="gp-flex gp-justify-start mobile:gp-justify-center">
      <div style="--w:60%;--w-tablet:60%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:var(--g-c-line-2, line-2)" class="gp-block tablet:gp-block mobile:gp-block"></div>
      <div class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden" style="--w:60%;--w-tablet:60%;--w-mobile:100%;--bc:var(--g-c-line-2, line-2);--t:gp-rotate(0deg)">
        <div class="gp-hidden" style="--bc:var(--g-c-line-2, line-2);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:60%;--minw-mobile:100%;--w:60%;--w-tablet:60%;--w-mobile:100%"></div>
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s);--ml:var(--g-s-s)"
            >
              Title
            </span>
          
        <div class="gp-flex" style="--bc:var(--g-c-line-2, line-2);--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:60%;--minw-mobile:100%;--w:60%;--w-tablet:60%;--w-mobile:100%"></div>
      </div>
    </div>
  
      </div>
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gN7R3zYft-"
        class="gN7R3zYft-"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#fd76a9;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          <p><strong>{{ blog.title }}</strong> - {{ article.published_at | date: "%B %d, %Y" }}</p>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"glweY_V8fU"}' data-id="glweY_V8fU" id="glweY_V8fU" data-same-height-subgrid-container class="glweY_V8fU gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:30px;--ml:auto;--mb:0px;--mr:auto;--pl:0px;--pr:0px;--mt-mobile:30px;--ml-mobile:auto;--pl-mobile:15px;--pr-mobile:15px;--cg:0px;--gtc:minmax(0, 3fr) minmax(0, 6fr) minmax(0, 3fr);--gtc-tablet:minmax(0, 3fr) minmax(0, 6fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gGkEkBOLpe gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gezVg8szeE"}' data-id="gezVg8szeE" id="gezVg8szeE" data-same-height-subgrid-container class="gezVg8szeE gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr] gp-scroll-links" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pageType:GP_ARTICLE;--pos:sticky;--pos-mobile:static;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:20px;--top:100px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gEd4rRAZyU gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gSeD_5BpRe"
        class="gSeD_5BpRe"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_ARTICLE;--pos:static;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--top:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:right;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:12px;--size-tablet:12px;--size-mobile:12px;--fs:italic;--c:#FFC5E1;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggSeD_5BpRe_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gSeD_5BpRe">
        .gSeD_5BpRe a {
    text-decoration: none;
    color: black;
}
.gSeD_5BpRe a.active {
    font-weight: bold;
    color: blue;
}
.gSeD_5BpRe p {

}
      </style>
    
      <script id="custom-js-gSeD_5BpRe">
        try {
          //const currentElement = document.getElementsByClassName('gSeD_5BpRe');
document.addEventListener("DOMContentLoaded", function () {
    const sections = document.querySelectorAll("section");
    const menuLinks = document.querySelectorAll("#gSeD_5BpRe a");

    function updateMenu() {
        let currentSection = null;

        // Determine the currently visible section
        sections.forEach((section) => {
            const rect = section.getBoundingClientRect();
            if (rect.top <= 100 && rect.bottom >= 100) {
                currentSection = section;
            }
        });

        // Update menu links
        menuLinks.forEach((link) => {
            link.classList.remove("active");
            if (currentSection && link.getAttribute("href") === `#${currentSection.id}`) {
                link.classList.add("active");
            }
        });
    }

    window.addEventListener("scroll", updateMenu);
});

        } catch(err){}
      </script>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gRtqxKFh4j"
        class="gRtqxKFh4j"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_ARTICLE;--pos:static;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--top:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:right;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:12px;--size-tablet:12px;--size-mobile:12px;--fs:italic;--c:#FFC5E1;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggRtqxKFh4j_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gDWYk8HtfY"
        class="gDWYk8HtfY"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_ARTICLE;--pos:static;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--top:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:right;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:12px;--size-tablet:12px;--size-mobile:12px;--fs:italic;--c:#FFC5E1;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggDWYk8HtfY_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gUqM5Vr3_s"
        class="gUqM5Vr3_s"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_ARTICLE;--pos:static;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--top:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:right;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:12px;--size-tablet:12px;--size-mobile:12px;--fs:italic;--c:#ffc5e1;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUqM5Vr3_s_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gUmnVPmtOQ"
        class="gUmnVPmtOQ"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_ARTICLE;--pos:static;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--top:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:right;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:12px;--size-tablet:12px;--size-mobile:12px;--fs:italic;--c:#FFC5E1;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUmnVPmtOQ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5kJYHdrai"
        class="g5kJYHdrai"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_ARTICLE;--pos:static;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--top:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:right;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:12px;--size-tablet:12px;--size-mobile:12px;--fs:italic;--c:#FFC5E1;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5kJYHdrai_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gA5hgLkFwW"
        class="gA5hgLkFwW"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_ARTICLE;--pos:static;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--top:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:right;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:12px;--size-tablet:12px;--size-mobile:12px;--fs:italic;--c:#FFC5E1;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggA5hgLkFwW_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>{% render 'gp-section-608436638967661250-1', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant, form: form  %}<div
      data-same-height-display-contents
      style="--jc:start;--d-mobile:none"
      class="gUnB_P2Yu4 gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-608436638967661250 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/korean-skincare-uk/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=608436638917329602&sectionId=608436638967661250)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg_SfJdRNTi_srcSet_desktop_src","label":"gg_SfJdRNTi_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0567/6099/1873/files/ultimate_guide_moisturizer_thumbnail_v2.jpg"},{"type":"html","id":"gg_SfJdRNTi_alt","label":"gg_SfJdRNTi_alt","default":"The Ultimate Guide to Moisturisers"},{"type":"html","id":"ggSeD_5BpRe_text","label":"ggSeD_5BpRe_text","default":"<p><a href=\"#gLdNijixX9\"><span style=\"color:#FFC5E1;\">Introduction</span></a></p>"},{"type":"html","id":"ggRtqxKFh4j_text","label":"ggRtqxKFh4j_text","default":"<p><a href=\"#gDNtwsEfDx\">How does a moisturiser work?</a></p>"},{"type":"html","id":"ggDWYk8HtfY_text","label":"ggDWYk8HtfY_text","default":"<p><a href=\"#gedz2dV3ky\">Choosing the best moisturiser for your skin</a></p>"},{"type":"html","id":"ggUqM5Vr3_s_text","label":"ggUqM5Vr3_s_text","default":"<p><a href=\"#gelcRB4fFv\">Maximize your moisturiser: Tips for best results</a></p>"},{"type":"html","id":"ggUmnVPmtOQ_text","label":"ggUmnVPmtOQ_text","default":"<p><a href=\"#giqwJnYPCw\">The power of Korean moisturisers</a></p>"},{"type":"html","id":"gg5kJYHdrai_text","label":"gg5kJYHdrai_text","default":"<p><a href=\"#g0gDAlPvAx\">Our favourite products</a></p>"},{"type":"html","id":"ggA5hgLkFwW_text","label":"ggA5hgLkFwW_text","default":"<p><a href=\"#goUE24q9Y7\">FAQs</a></p>"},{"type":"html","id":"ggsuc8uMOvV_text","label":"ggsuc8uMOvV_text","default":"<p><i>Are you struggling with dry patches, skin tightness, or redness that you’re covering with concealer? These are all signs that your skin is craving a good moisturiser (or that your current moisturiser isn’t working as it should be).</i></p><p><br><i>Moisturiser is an essential part of any skincare routine. Without it, your skin can feel dry and irritated, and it’s more likely to break out or show signs of ageing.</i></p><p><br><i>But while it’s often easy to spot the signs that your moisturiser isn’t working, it can be harder to know what to do about it. One quick Google search can leave you buried in scientific language and confusing diagrams. And, of course, what works for someone else’s skin won’t always work for yours.</i></p><p><br><i>In this guide, we’ll look clearly at everything you need to know about finding the best moisturiser for YOUR skin. We’ll also explore Korean moisturisers, which are widely loved for their lightweight formulas, skin barrier repair, and, of course, glass skin glow!</i></p>"},{"type":"html","id":"ggnLLPVYh7O_srcSet_desktop_src","label":"ggnLLPVYh7O_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0254/3022/9055/files/pexels-feyzayildirimphoto-20469563_800px.jpg"},{"type":"html","id":"ggnLLPVYh7O_alt","label":"ggnLLPVYh7O_alt","default":"Moisturiser"},{"type":"html","id":"ggoxIGOxvsy_text","label":"ggoxIGOxvsy_text","default":"<span style=\"background-color:transparent;color:#000000;font-size:16pt;\">How does a moisturiser work?</span>"},{"type":"html","id":"ggGJGclMkS2_text","label":"ggGJGclMkS2_text","default":"<p><span style=\"background-color:transparent;color:#1f1f1f;font-size:11pt;\">Moisturiser helps lock in moisture, protect your skin from environmental stressors, and restore your skin barrier. It does this through one or more of the following types of ingredients:</span></p>"},{"type":"html","id":"ggySfV-BK0U_text","label":"ggySfV-BK0U_text","default":"<p>• <strong>Humectants</strong> (like glycerin or hyaluronic acid) which pull water from the room into your skin.</p><p>&nbsp;</p><p>• <strong>Emollients </strong>(like squalane or plant oils) which smooth and soften the skin’s surface.</p><p>&nbsp;</p><p>• <strong>Occlusives</strong> (like shea butter or petrolatum) that lock in that hydration to prevent moisture loss.</p><p>&nbsp;</p><p>Different formulas work better for different skin types, which is why it makes sense to start there when choosing your products.</p>"},{"type":"html","id":"ggMUNpCch3i_text","label":"ggMUNpCch3i_text","default":"Choosing the best moisturiser for your skin"},{"type":"html","id":"ggcTnLzcbR9_text","label":"ggcTnLzcbR9_text","default":"<p>In this section, we’ll cover how to figure out your skin type and find the best moisturiser for you.</p>"},{"type":"html","id":"gg5UEm6WEMl_text","label":"gg5UEm6WEMl_text","default":"Moisturiser for dry skin"},{"type":"html","id":"ggc2ECRyjNH_text","label":"ggc2ECRyjNH_text","default":"<p>If you have rough or flaky patches, you most likely have dry skin. But the issue isn’t always this obvious. Fine lines, redness, or dullness can also be signs that your skin is dehydrated. And these problems can all be worsened by environmental factors like <a href=\"$locationOrigin/blogs/skintalks/best-skincare-routine-for-in-the-winter?shpxid=850f9cb2-026b-434a-8ec0-cf4fa948f126\" target=\"_blank\"><span style=\"color:#FD76A9;\"><i>winter weather</i></span></a>, harsh winds, and indoor heating.</p><p>&nbsp;</p><p>Take a close look at how your skin looks and feels throughout the day. If it's tight after cleansing or you have lines that come and go, you should choose a <a href=\"$locationOrigin/blogs/skintalks/how-to-find-the-right-moisturizer-for-dry-skin\" target=\"_blank\"><span style=\"color:#FD769A;\"><i>moisturiser designed for dry skin</i></span></a>.</p><p>&nbsp;</p><p>The best moisturisers for dry skin will often contain humectants, emollients, and occlusives. This is because dry skin struggles to retain water, so it can’t rely only on ingredients which pull water into the skin. It also needs occlusives which form a protective seal that keeps moisture from escaping and emollients which help soften rough, flaky patches.</p><p>&nbsp;</p><p>When choosing a moisturiser for dry skin, it’s important to look at both ingredients and texture. Avoid lightweight gels, foams, or alcohol-heavy formulas. These evaporate quickly and don’t provide deep hydration.</p>"},{"type":"html","id":"gghnsKWgVUV_srcSet_desktop_src","label":"gghnsKWgVUV_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0254/3022/9055/files/dermatology-skincare-concept-with-macro-view-flaking-skin-caucasian-person_800px.jpg"},{"type":"html","id":"gghnsKWgVUV_alt","label":"gghnsKWgVUV_alt","default":"Dry skin"},{"type":"html","id":"ggIpWLL1yNo_srcSet_desktop_src","label":"ggIpWLL1yNo_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0254/3022/9055/files/close-up-face-pores-texture_800px.jpg"},{"type":"html","id":"ggIpWLL1yNo_alt","label":"ggIpWLL1yNo_alt","default":"Oily skin"},{"type":"html","id":"gggMRGAPgZS_text","label":"gggMRGAPgZS_text","default":"Moisturiser for oily skin"},{"type":"html","id":"ggFjqjVjZZz_text","label":"ggFjqjVjZZz_text","default":"<p>You might have oily skin if you notice enlarged pores, frequent breakouts, blackheads, or a greasy shine that appears even a few hours after you wash your face. This isn’t just a healthy glow. It’s a sign that your skin is producing excess sebum (oil) and needs special attention.</p><p>&nbsp;</p><p><a href=\"$locationOrigin/blogs/skintalks/moisturiser-for-oily-skin\" target=\"_blank\"><span style=\"color:#FD769A;\"><i>Moisturisers for oily skin</i></span></a> are lightweight and fast-absorbing, providing hydration without adding extra oil or heaviness. They’re carefully formulated to prevent clogged pores. This is important for oily skin, which can be acne-prone because excess sebum can mix with dead skin cells and trap dirt, leading to blackheads and breakouts.</p><p>&nbsp;</p><p>The best moisturisers for oily skin are gel-based or water-based formulas. They often contain ingredients like hyaluronic acid or glycerin to draw water into the skin, and squalane or dimethicone to smooth the surface without clogging pores.</p><p>&nbsp;</p><p>Gel moisturisers for oily skin also often include ingredients like niacinamide, green tea extract, or aloe vera, which help calm inflammation, reduce redness, and keep oil production under control.</p>"},{"type":"html","id":"gg7_jPWaGOP_text","label":"gg7_jPWaGOP_text","default":"Moisturiser for combination skin"},{"type":"html","id":"ggdW_RS_ZOA_text","label":"ggdW_RS_ZOA_text","default":"<p>Combination skin can be both oily and dry skin. You might notice that some areas feel rough and flaky while others are shiny and greasy. Alternatively, you might feel that your skin changes depending on the season, your diet, or your stress levels.</p><p>&nbsp;</p><p>Look out for formulas that add moisture without feeling heavy. Ingredients like niacinamide, green tea extract, or aloe vera help regulate oil production.</p><p>&nbsp;</p><p>The ideal texture for a combination skin moisturiser is a gel-like cream or lightweight lotion, which provides balanced hydration across all areas. Avoid thick creams that can make oily zones greasy or ultra-light gels that may leave dry patches feeling tight.</p>"},{"type":"html","id":"ggBF5JsTyFT_text","label":"ggBF5JsTyFT_text","default":"Moisturiser for sensitive skin"},{"type":"html","id":"ggk6ePJAdlV_text","label":"ggk6ePJAdlV_text","default":"<p>Sensitive skin is easily irritated, red, and itchy, responding quickly to weather changes, hot water, and new products. You might notice stinging, burning, or tightness after washing your face, or redness that seems to come out of nowhere.</p><p>&nbsp;</p><p>Sensitive skin moisturisers are designed to focus on hydration without triggering flare-ups. This means they avoid alcohol and fragrances and include humectants and light emollients. The best moisturisers for sensitive skin will also include anti-inflammatory ingredients like aloe vera, panthenol, or oat extract, which help calm redness and strengthen the skin barrier.</p><p>&nbsp;</p><p>Choose light creams or lotion-like textures. These textures help soothe and protect the skin while avoiding the occlusives that are in moisturisers for dehydrated skin and can sometimes worsen sensitivity.</p>"},{"type":"html","id":"ggzGq6FBSbl_srcSet_desktop_src","label":"ggzGq6FBSbl_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0254/3022/9055/files/pexels-karola-g-4046570_800px.jpg"},{"type":"html","id":"ggzGq6FBSbl_alt","label":"ggzGq6FBSbl_alt","default":"Sensitive skin"},{"type":"html","id":"ggF25h05gz7_text","label":"ggF25h05gz7_text","default":"Maximize your moisturiser: Tips for best results"},{"type":"html","id":"ggfLdMNhjyj_text","label":"ggfLdMNhjyj_text","default":"<p>Even the best moisturiser for your skin won’t work effectively if it’s not applied correctly or paired with the right habits. Here are some top tips on how to use moisturiser:</p>"},{"type":"html","id":"ggseZIgE8Lb_text","label":"ggseZIgE8Lb_text","default":"<ol><li><strong>Use the right amount. </strong>A pea-sized amount is usually a good starting point. However, everyone is different. If you have dry skin, you may need to add more and if you have oily skin, you’ll need to be careful about not overloading product to avoid clogging. Experiment slightly to see what works best for you based on your skin type.</li><li><strong>Layer products.</strong> If you’re using serums, apply lighter formulas first, then lock in moisture with thicker products like creams. If you’re using primer, add this after moisturiser.</li><li><strong>Don’t forget your neck! </strong>If you focus only on your face, the neck and décolletage can quickly show signs of dryness and aging too.</li><li><strong>Add SPF after moisturising OR use an SPF moisturiser.</strong> SPF is essential to protect against sun damage and works best on top of your moisturiser.</li><li><strong>Switch up your moisturiser.</strong> In colder months, you might need a thicker cream, but in summer, lighter gels or lotions work best.</li><li><strong>Consistency is key.</strong> Moisturizing twice daily (morning and night) helps maintain your skin’s hydration levels and strengthens its natural barrier.</li></ol>"},{"type":"html","id":"ggqr5EGxRlb_srcSet_desktop_src","label":"ggqr5EGxRlb_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0254/3022/9055/files/close-up-woman-with-beautiful-skin_800px.jpg"},{"type":"html","id":"ggqr5EGxRlb_alt","label":"ggqr5EGxRlb_alt","default":"Korean moisturizers"},{"type":"html","id":"gg-LGXb7CGZ_text","label":"gg-LGXb7CGZ_text","default":"The power of Korean moisturisers"},{"type":"html","id":"ggFg4iZjoDt_text","label":"ggFg4iZjoDt_text","default":"<p><a href=\"$locationOrigin/blogs/skintalks/why-are-korean-moisturisers-so-popular\" target=\"_blank\"><span style=\"background-color:#FFFFFF;color:#FD769A;\"><i>Korean moisturisers</i></span></a> are carefully formulated to not only to hydrate the skin on a superficial level, but also to repair, plump, and leave you with that <a href=\"$locationOrigin/blogs/skintalks/what-is-glass-skin-and-how-to-achieve-it\" target=\"_blank\"><span style=\"color:#FD76A9;\"><i>glass skin glow</i></span></a>. No wonder they’re renowned to be the best moisturisers in the world!&nbsp;</p><p>&nbsp;</p><p>There are products for every skin type. Korean moisturisers for oily skin are popular because they’re lightweight, fast-absorbing, and unlikely to clog. Most use gel or water-based textures that hydrate without adding extra oil and include powerful, oil-balancing ingredients like hyaluronic acid, green tea extract, and centella asiatica.</p><p>&nbsp;</p><p>For those with dry or sensitive skin, Korean formulas perfectly blend ingredients like <a href=\"$locationOrigin/blogs/skintalks/ceramides-in-skincare\" target=\"_blank\"><span style=\"color:#FD76A9;\"><i>ceramides</i></span></a>, aloe vera, and squalane to strengthen the skin barrier. Korean night moisturisers are especially popular because they lock in moisture overnight, allowing your skin to repair and recover while you sleep.</p><p>&nbsp;</p><p>The best Korean moisturisers also include added antioxidants and vitamins, giving your skin extra protection against environmental stressors like pollution and UV damage.</p>"},{"type":"html","id":"ggT7M-flqaH_text","label":"ggT7M-flqaH_text","default":"Our favourite products"},{"type":"html","id":"ggoySuQ1J71_text","label":"ggoySuQ1J71_text","default":"<p>Here are some of our favourite K-Beauty moisturisers, all carefully designed to solve your skin concerns and leave you with healthy, glowing skin.</p>"},{"type":"html","id":"ggnHaGITas-_label","label":"ggnHaGITas-_label","default":"See more"},{"type":"html","id":"gg4LRmYFE9p_label","label":"gg4LRmYFE9p_label","default":"See more"},{"type":"html","id":"ggyGmFCLcZW_label","label":"ggyGmFCLcZW_label","default":"See more"},{"type":"html","id":"ggBGWKX4pzx_text","label":"ggBGWKX4pzx_text","default":"FAQs"},{"type":"html","id":"gg5WUZ_ZRMG_text","label":"gg5WUZ_ZRMG_text","default":"Can moisturisers cause acne?"},{"type":"html","id":"ggRA4cODjof_text","label":"ggRA4cODjof_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(35,35,35);font-size:16px;\">If you’re not using the right moisturiser, you can experience breakouts. Avoid products that are heavy or greasy and look out for non-comedogenic or oil-free formulas that don’t contain pore-clogging ingredients.</span></p>"},{"type":"html","id":"ggT6gZ9XExD_text","label":"ggT6gZ9XExD_text","default":"Can you use a gel moisturiser with dry skin?"},{"type":"html","id":"ggMkPvT88FL_text","label":"ggMkPvT88FL_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(35,35,35);font-size:16px;\">You can use a gel moisturiser with dry skin, but effectiveness will depend on the formula. Gel moisturisers are usually lighter and fast-absorbing, so they may not provide enough long-lasting hydration for very dry skin. If you choose a gel, look for one that contains humectants like hyaluronic acid.</span></p>"},{"type":"html","id":"gggQYSPpqcP_text","label":"gggQYSPpqcP_text","default":"What’s the best Korean moisturiser for combination skin?"},{"type":"html","id":"gg1GGciV3I5_text","label":"gg1GGciV3I5_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(35,35,35);font-size:16px;\">The </span><a href=\"$locationOrigin/products/round-lab-birch-juice-moisturizing-cream\" target=\"_blank\"><span style=\"background-color:rgb(255,255,255);color:#FD76A9;font-size:16px;\"><i>Round Lab Birch Juice Moisturizing Cream</i></span></a><span style=\"background-color:rgb(255,255,255);color:rgb(35,35,35);font-size:16px;\"> and the </span><a href=\"$locationOrigin/products/beauty-of-joseon-red-bean-water-gel\" target=\"_blank\"><span style=\"background-color:rgb(255,255,255);color:#FD76A9;font-size:16px;\"><i>Beauty of Joseon Red Bean Water Gel</i></span></a><span style=\"background-color:rgb(255,255,255);color:rgb(35,35,35);font-size:16px;\"> are excellent options for combination skin. &nbsp;Lightweight and fast-absorbing, these contain ingredients such as hyaluronic acid, green tea extract, and centella asiatica to regulate oil production while keeping the skin calm.</span></p>"},{"type":"html","id":"ggYOvE3kGYO_text","label":"ggYOvE3kGYO_text","default":"Which Korean brand is best for sensitive skin?"},{"type":"html","id":"ggGmct9fSUe_text","label":"ggGmct9fSUe_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(35,35,35);font-size:16px;\">Korean brands are great options for sensitive skin because they include gentle, natural, soothing ingredients. Two of the best Korean moisturisers for sensitive skin are the </span><a href=\"$locationOrigin/products/etude-house-soonjung-2x-barrier-intensive-cream\" target=\"_blank\"><span style=\"background-color:rgb(255,255,255);color:#FD76A9;font-size:16px;\"><i>ETUDE SoonJung 2x Barrier Intensive Cream</i></span></a><span style=\"background-color:rgb(255,255,255);color:rgb(35,35,35);font-size:16px;\"> and </span><a href=\"$locationOrigin/products/purito-oat-in-calming-gel-cream\" target=\"_blank\"><span style=\"background-color:rgb(255,255,255);color:#FD76A9;font-size:16px;\"><i>Purito Seoul Oat-In Calming Gel Cream</i></span></a><span style=\"background-color:rgb(255,255,255);color:rgb(35,35,35);font-size:16px;\">. These are fragrance-free and include calming ingredients like oat seed water, panthenol, and sunflower seed oil to strengthen the skin barrier and reduce redness.</span></p>"},{"type":"html","id":"ggNJX0xbBMx_text","label":"ggNJX0xbBMx_text","default":"Which Korean moisturiser is best for dry skin?"},{"type":"html","id":"ggkKxcgd1I9_text","label":"ggkKxcgd1I9_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(35,35,35);font-size:16px;\">Two cult favorite Korean moisturisers for dry skin are </span><a href=\"$locationOrigin/products/dr-jart-ceramidin-skin-barrier-moisturizing-cream\" target=\"_blank\"><span style=\"background-color:rgb(255,255,255);color:#FD76A9;font-size:16px;\"><i>Dr.Jart+ Ceramidin Skin Barrier Moisturizing Cream</i></span></a><span style=\"background-color:rgb(255,255,255);color:rgb(35,35,35);font-size:16px;\"> and </span><a href=\"$locationOrigin/products/torriden-dive-in-low-molecular-hyaluronic-acid-cream\" target=\"_blank\"><span style=\"background-color:rgb(255,255,255);color:#FD76A9;font-size:16px;\"><i>Torriden Dive-IN Low Hyaluronic Acid Cream</i></span></a><span style=\"background-color:rgb(255,255,255);color:rgb(35,35,35);font-size:16px;\">. These products are rich with ceramides and hyaluronic acid, helping to rebuild the skin barrier and draw deep hydration into the skin.</span></p>"},{"type":"html","id":"ggIF2XmDzUI_text","label":"ggIF2XmDzUI_text","default":"What’s the best SPF moisturiser?"},{"type":"html","id":"ggz05Qp-1GV_text","label":"ggz05Qp-1GV_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(35,35,35);font-size:16px;\">When you’re looking for an SPF moisturiser, you should look for one that’s not heavy or greasy. Korean SPF moisturisers are great because they blend lightweight, fast-absorbing textures with nourishing ingredients like hyaluronic acid, ceramides, and centella asiatica.</span></p>"},{"type":"html","id":"ggo9PA4rRGN_srcSet_desktop_src","label":"ggo9PA4rRGN_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-3ad5e2e2-a925-41b0-a976-d7ef676bc592.png"},{"type":"html","id":"ggo9PA4rRGN_alt","label":"ggo9PA4rRGN_alt","default":"Love, KS Team"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}