
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-555414216471741538.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-555414216471741538.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-555414216471741538.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-555414216471741538.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-555414216471741538.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-555414216471741538.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-555414216471741538.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-555414216471741538.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-555414216471741538.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-555414216471741538.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-555414216471741538.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-555414216471741538.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-555414216471741538.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-555414216471741538.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-555414216471741538.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-555414216471741538.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-555414216471741538.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-555414216471741538.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-555414216471741538.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-555414216471741538.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-555414216471741538.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-555414216471741538.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-555414216471741538.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-555414216471741538.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-555414216471741538.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-555414216471741538.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-555414216471741538.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-555414216471741538.gps.gpsil [style*="--hvr-radius:"]:hover{border-radius:var(--hvr-radius)}.gps-555414216471741538.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-555414216471741538.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-555414216471741538.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-555414216471741538.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-555414216471741538.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-555414216471741538.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-555414216471741538.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-555414216471741538.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-555414216471741538.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-555414216471741538.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-555414216471741538.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-555414216471741538.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-555414216471741538.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-555414216471741538.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-555414216471741538.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-555414216471741538.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-555414216471741538.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-555414216471741538.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-555414216471741538.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-555414216471741538.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-555414216471741538.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-555414216471741538.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-555414216471741538.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-555414216471741538.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-555414216471741538.gps.gpsil [style*="--tdc:"]{text-decoration-color:var(--tdc)}.gps-555414216471741538.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-555414216471741538.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-555414216471741538.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-555414216471741538.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-555414216471741538.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-555414216471741538.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-555414216471741538.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-555414216471741538.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-555414216471741538.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-555414216471741538.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-555414216471741538.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-555414216471741538.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-555414216471741538.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-555414216471741538.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-555414216471741538.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-555414216471741538.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-555414216471741538.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-555414216471741538.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-555414216471741538.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-555414216471741538.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-555414216471741538.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-555414216471741538.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-555414216471741538.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-555414216471741538.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-555414216471741538.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-555414216471741538.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-555414216471741538.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-555414216471741538.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-555414216471741538.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-555414216471741538.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-555414216471741538.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-555414216471741538.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-555414216471741538.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-555414216471741538.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-555414216471741538.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-555414216471741538.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-555414216471741538.gps.gpsil [style*="--o-tablet:"]{order:var(--o-tablet)}.gps-555414216471741538.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-555414216471741538.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-555414216471741538.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-555414216471741538.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-555414216471741538.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-555414216471741538.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-555414216471741538.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-555414216471741538.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-555414216471741538.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-555414216471741538.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-555414216471741538.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-555414216471741538.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-555414216471741538.gps.gpsil [style*="--gg-mobile:"]{grid-gap:var(--gg-mobile)}.gps-555414216471741538.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-555414216471741538.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-555414216471741538.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-555414216471741538.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-555414216471741538.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-555414216471741538.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-555414216471741538.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-555414216471741538.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-555414216471741538.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-555414216471741538.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-555414216471741538.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-555414216471741538.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-555414216471741538.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-555414216471741538.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-555414216471741538.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-555414216471741538 .-gp-translate-x-1\/2,.gps-555414216471741538 .-gp-translate-y-1\/2,.gps-555414216471741538 .gp-rotate-0,.gps-555414216471741538 .gp-rotate-180,.gps-555414216471741538 .mobile\:gp-rotate-0,.gps-555414216471741538 .mobile\:gp-rotate-180,.gps-555414216471741538 .tablet\:gp-rotate-0,.gps-555414216471741538 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-555414216471741538 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-555414216471741538 .gp-g-heading-3{font-family:var(--g-h3-ff);font-size:var(--g-h3-size);font-style:var(--g-h3-fs);font-weight:var(--g-h3-weight);letter-spacing:var(--g-h3-ls);line-height:var(--g-h3-lh)}.gps-555414216471741538 .gp-g-subheading-3{font-family:var(--g-sh3-ff);font-size:var(--g-sh3-size);font-style:var(--g-sh3-fs);font-weight:var(--g-sh3-weight);letter-spacing:var(--g-sh3-ls);line-height:var(--g-sh3-lh)}.gps-555414216471741538 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-555414216471741538 .gp-invisible{visibility:hidden}.gps-555414216471741538 .gp-static{position:static}.gps-555414216471741538 .gp-absolute{position:absolute}.gps-555414216471741538 .\!gp-relative{position:relative!important}.gps-555414216471741538 .gp-relative{position:relative}.gps-555414216471741538 .gp-left-0{left:0}.gps-555414216471741538 .gp-left-1\/2{left:50%}.gps-555414216471741538 .gp-right-0{right:0}.gps-555414216471741538 .gp-top-0{top:0}.gps-555414216471741538 .gp-top-1\/2{top:50%}.gps-555414216471741538 .gp-z-0{z-index:0}.gps-555414216471741538 .gp-z-1{z-index:1}.gps-555414216471741538 .gp-z-2{z-index:2}.gps-555414216471741538 .gp-z-\[90\]{z-index:90}.gps-555414216471741538 .\!gp-m-0{margin:0!important}.gps-555414216471741538 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-555414216471741538 .gp-my-0{margin-bottom:0;margin-top:0}.gps-555414216471741538 .gp-mb-0{margin-bottom:0}.gps-555414216471741538 .gp-block{display:block}.gps-555414216471741538 .gp-inline-block{display:inline-block}.gps-555414216471741538 .\!gp-flex{display:flex!important}.gps-555414216471741538 .gp-flex{display:flex}.gps-555414216471741538 .gp-inline-flex{display:inline-flex}.gps-555414216471741538 .gp-grid{display:grid}.gps-555414216471741538 .gp-contents{display:contents}.gps-555414216471741538 .\!gp-hidden{display:none!important}.gps-555414216471741538 .gp-hidden{display:none}.gps-555414216471741538 .gp-aspect-\[56\/32\]{aspect-ratio:56/32}.gps-555414216471741538 .gp-h-0{height:0}.gps-555414216471741538 .gp-h-auto{height:auto}.gps-555414216471741538 .gp-h-full{height:100%}.gps-555414216471741538 .\!gp-min-h-full{min-height:100%!important}.gps-555414216471741538 .gp-w-14{width:56px}.gps-555414216471741538 .gp-w-5{width:20px}.gps-555414216471741538 .gp-w-full{width:100%}.gps-555414216471741538 .\!gp-min-w-full{min-width:100%!important}.gps-555414216471741538 .\!gp-max-w-full{max-width:100%!important}.gps-555414216471741538 .gp-max-w-full{max-width:100%}.gps-555414216471741538 .gp-flex-1{flex:1 1 0%}.gps-555414216471741538 .gp-flex-none{flex:none}.gps-555414216471741538 .gp-shrink-0{flex-shrink:0}.gps-555414216471741538 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-555414216471741538 .-gp-translate-x-1\/2,.gps-555414216471741538 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-555414216471741538 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-555414216471741538 .gp-rotate-0{--tw-rotate:0deg}.gps-555414216471741538 .gp-rotate-0,.gps-555414216471741538 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-555414216471741538 .gp-rotate-180{--tw-rotate:180deg}.gps-555414216471741538 .gp-cursor-pointer{cursor:pointer}.gps-555414216471741538 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-555414216471741538 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-555414216471741538 .\!gp-flex-row{flex-direction:row!important}.gps-555414216471741538 .gp-flex-row{flex-direction:row}.gps-555414216471741538 .gp-flex-col{flex-direction:column}.gps-555414216471741538 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-555414216471741538 .gp-items-start{align-items:flex-start}.gps-555414216471741538 .gp-items-center{align-items:center}.gps-555414216471741538 .gp-justify-start{justify-content:flex-start}.gps-555414216471741538 .gp-justify-center{justify-content:center}.gps-555414216471741538 .gp-justify-between{justify-content:space-between}.gps-555414216471741538 .gp-gap-2{gap:8px}.gps-555414216471741538 .gp-overflow-hidden{overflow:hidden}.gps-555414216471741538 .gp-break-words{overflow-wrap:break-word}.gps-555414216471741538 .\!gp-rounded-none{border-radius:0!important}.gps-555414216471741538 .gp-rounded{border-radius:4px}.gps-555414216471741538 .gp-bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-555414216471741538 .gp-object-cover{-o-object-fit:cover;object-fit:cover}.gps-555414216471741538 .\!gp-pb-0{padding-bottom:0!important}.gps-555414216471741538 .gp-text-center{text-align:center}.gps-555414216471741538 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-555414216471741538 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-555414216471741538 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-555414216471741538 .gp-text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.gps-555414216471741538 .gp-no-underline{text-decoration-line:none}.gps-555414216471741538 .gp-decoration-g-text-2{text-decoration-color:var(--g-c-text-2)}.gps-555414216471741538 .gp-outline-1{outline-width:1px}.gps-555414216471741538 .-gp-outline-offset-1{outline-offset:-1px}.gps-555414216471741538 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-555414216471741538 .gp-transition-opacity{transition-duration:.15s;transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-555414216471741538 .gp-duration-200{transition-duration:.2s}.gps-555414216471741538 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-555414216471741538 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-555414216471741538 .hover\:gp-bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity))}}.gps-555414216471741538 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-555414216471741538 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-555414216471741538 .data-\[hidden\=true\]\:\!gp-hidden[data-hidden=true]{display:none!important}.gps-555414216471741538 .data-\[outline\=active\]\:gp-outline[data-outline=active]{outline-style:solid}.gps-555414216471741538 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-555414216471741538 .tablet\:gp-static{position:static}.gps-555414216471741538 .tablet\:\!gp-relative{position:relative!important}.gps-555414216471741538 .tablet\:gp-left-0{left:0}.gps-555414216471741538 .tablet\:gp-right-0{right:0}.gps-555414216471741538 .tablet\:gp-block{display:block}.gps-555414216471741538 .tablet\:\!gp-flex{display:flex!important}.gps-555414216471741538 .tablet\:\!gp-hidden{display:none!important}.gps-555414216471741538 .tablet\:gp-hidden{display:none}.gps-555414216471741538 .tablet\:gp-h-auto{height:auto}.gps-555414216471741538 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-555414216471741538 .tablet\:gp-flex-none{flex:none}.gps-555414216471741538 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-555414216471741538 .tablet\:gp-rotate-0,.gps-555414216471741538 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-555414216471741538 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-555414216471741538 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-555414216471741538 .tablet\:gp-flex-row{flex-direction:row}.gps-555414216471741538 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-555414216471741538 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-555414216471741538 .mobile\:gp-static{position:static}.gps-555414216471741538 .mobile\:\!gp-relative{position:relative!important}.gps-555414216471741538 .mobile\:gp-left-0{left:0}.gps-555414216471741538 .mobile\:gp-right-0{right:0}.gps-555414216471741538 .mobile\:gp-block{display:block}.gps-555414216471741538 .mobile\:\!gp-flex{display:flex!important}.gps-555414216471741538 .mobile\:\!gp-hidden{display:none!important}.gps-555414216471741538 .mobile\:gp-hidden{display:none}.gps-555414216471741538 .mobile\:gp-h-auto{height:auto}.gps-555414216471741538 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-555414216471741538 .mobile\:gp-flex-none{flex:none}.gps-555414216471741538 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-555414216471741538 .mobile\:gp-rotate-0,.gps-555414216471741538 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-555414216471741538 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-555414216471741538 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-555414216471741538 .mobile\:gp-flex-row{flex-direction:row}.gps-555414216471741538 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-555414216471741538 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-555414216471741538 .\[\&\:not\(\:has\(p\)\)\]\:gp-pr-\[0\.2em\]:not(:has(p)){padding-right:.2em}.gps-555414216471741538 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-555414216471741538 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-555414216471741538 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-555414216471741538 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-555414216471741538 .\[\&_p\]\:\[\&\:has\(p\)\]\:gp-pr-\[0\.2em\]:has(p) p{padding-right:.2em}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g6whMcN83G"}' data-id="g6whMcN83G" id="g6whMcN83G" data-same-height-subgrid-container class="g6whMcN83G gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gF4QShi9Za gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g87zFeNmuS"}' data-id="g87zFeNmuS" id="g87zFeNmuS" data-same-height-subgrid-container class="g87zFeNmuS gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:var(--g-s-l);--pr:var(--g-s-l);--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="giKtaokWG1 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g3sr9Y7S9h"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--pb:0px;--mb-mobile:20px;--pb-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764630144961 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g3sr9Y7S9h"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-ce42b776-bc2c-4352-ba26-95c33746627c_768x.jpg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-45afcd48-0ba6-4d37-aa88-e96ac381cbb2_1024x.jpg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQwMCIgaGVpZ2h0PSI4NTMiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTI0MDAtODUzIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyNDAwIiBoZWlnaHQ9Ijg1MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjQwMCIgaGVpZ2h0PSI4NTMiIGZpbGw9InVybCgjZy0yNDAwLTg1MykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTI0MDAiIHRvPSIyNDAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-45afcd48-0ba6-4d37-aa88-e96ac381cbb2.jpg" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQwMCIgaGVpZ2h0PSI4NTMiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTI0MDAtODUzIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIyNDAwIiBoZWlnaHQ9Ijg1MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjQwMCIgaGVpZ2h0PSI4NTMiIGZpbGw9InVybCgjZy0yNDAwLTg1MykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTI0MDAiIHRvPSIyNDAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-45afcd48-0ba6-4d37-aa88-e96ac381cbb2.jpg"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--radiusType:custom;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYcOPkEmCq"
        class="gYcOPkEmCq"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h1
          data-gp-text
          class="gp-g-heading-3  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--c:var(--g-c-text-2, text-2);--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYcOPkEmCq_text | replace: '$locationOrigin', locationOrigin }}
        </h1>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gXtb2brudC"
        class="gXtb2brudC"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--c:#151515;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggXtb2brudC_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--pt:12px;--pb:12px" class="gzTldkvnEl ">
      
    <div data-id="gzTldkvnEl" class="gp-flex gp-justify-start">
      <div style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1.5px;--bbw-tablet:1.5px;--bbw-mobile:1.5px;--t:gp-rotate(0deg);--bc:#121212" class="gp-block tablet:gp-block mobile:gp-block"></div>
      <div class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#121212;--t:gp-rotate(0deg)">
        <div class="gp-hidden" style="--bc:#121212;--bs:solid;--bbw:1.5px;--bbw-tablet:1.5px;--bbw-mobile:1.5px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s);--ml:var(--g-s-s)"
            >
              Title
            </span>
          
        <div class="gp-flex" style="--bc:#121212;--bs:solid;--bbw:1.5px;--bbw-tablet:1.5px;--bbw-mobile:1.5px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
      </div>
    </div>
  
      </div>
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLYsXb6I8W"
        class="gLYsXb6I8W"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLYsXb6I8W_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"linear-gradient(139deg, rgba(166, 138, 127, 0.8) 0%, rgba(237, 219, 205, 0.8) 98%)","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"g_u1XjMQ41"}' data-id="g_u1XjMQ41" id="g_u1XjMQ41" data-same-height-subgrid-container class="g_u1XjMQ41 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:var(--g-s-xl);--mb:var(--g-s-xl);--pt:var(--g-s-xl);--pb:var(--g-s-xl);--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--bgc:linear-gradient(139deg, rgba(166, 138, 127, 0.8) 0%, rgba(237, 219, 205, 0.8) 98%);--bgi:url(), linear-gradient(139deg, rgba(166, 138, 127, 0.8) 0%, rgba(237, 219, 205, 0.8) 98%);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="ghqzl3D70c gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gV1m-yweEO"}' data-id="gV1m-yweEO" id="gV1m-yweEO" data-same-height-subgrid-container class="gV1m-yweEO gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:var(--g-s-l);--pr:var(--g-s-l);--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gCD7P-Mk50 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZdS8gpeMX"
        class="gZdS8gpeMX"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--c:#ffffff;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZdS8gpeMX_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--pt:12px;--pb:12px" class="gVcpjS6yvW ">
      
    <div data-id="gVcpjS6yvW" class="gp-flex gp-justify-start">
      <div style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1.5px;--bbw-tablet:1.5px;--bbw-mobile:1.5px;--t:gp-rotate(0deg);--bc:#ffffff" class="gp-block tablet:gp-block mobile:gp-block"></div>
      <div class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#ffffff;--t:gp-rotate(0deg)">
        <div class="gp-hidden" style="--bc:#ffffff;--bs:solid;--bbw:1.5px;--bbw-tablet:1.5px;--bbw-mobile:1.5px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s);--ml:var(--g-s-s)"
            >
              Title
            </span>
          
        <div class="gp-flex" style="--bc:#ffffff;--bs:solid;--bbw:1.5px;--bbw-tablet:1.5px;--bbw-mobile:1.5px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
      </div>
    </div>
  
      </div>
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gap9Rfg5DI"
        class="gap9Rfg5DI"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggap9Rfg5DI_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gXJXzqEXqX"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764630144973 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gXJXzqEXqX"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-33894b86-e9d7-4d9e-903c-ac26a8ac6ccf_768x.png" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9Ijg2OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODAwLTg2OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODAwIiBoZWlnaHQ9Ijg2OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9Ijg2OSIgZmlsbD0idXJsKCNnLTgwMC04NjkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04MDAiIHRvPSI4MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-33894b86-e9d7-4d9e-903c-ac26a8ac6ccf_1024x.png" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9Ijg2OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODAwLTg2OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODAwIiBoZWlnaHQ9Ijg2OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9Ijg2OSIgZmlsbD0idXJsKCNnLTgwMC04NjkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04MDAiIHRvPSI4MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-33894b86-e9d7-4d9e-903c-ac26a8ac6ccf.png" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9Ijg2OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODAwLTg2OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODAwIiBoZWlnaHQ9Ijg2OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9Ijg2OSIgZmlsbD0idXJsKCNnLTgwMC04NjkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04MDAiIHRvPSI4MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/0254/3022/9055/files/gempages_490439461423809393-33894b86-e9d7-4d9e-903c-ac26a8ac6ccf.png"
        alt="Galactomyces Brightening Trial Kit"
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:30%;--w-tablet:35%;--w-mobile:60%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gTXfWIr19Y"}' data-id="gTXfWIr19Y" id="gTXfWIr19Y" data-same-height-subgrid-container class="gTXfWIr19Y gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:var(--g-s-l);--pr:var(--g-s-l);--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gYLnXtjacS gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gMdChWsYkx"
        class="gMdChWsYkx"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--c:#121212;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggMdChWsYkx_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--pt:12px;--pb:12px" class="g-Jq0r9sGP ">
      
    <div data-id="g-Jq0r9sGP" class="gp-flex gp-justify-start">
      <div style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1.5px;--bbw-tablet:1.5px;--bbw-mobile:1.5px;--t:gp-rotate(0deg);--bc:#121212" class="gp-block tablet:gp-block mobile:gp-block"></div>
      <div class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#121212;--t:gp-rotate(0deg)">
        <div class="gp-hidden" style="--bc:#121212;--bs:solid;--bbw:1.5px;--bbw-tablet:1.5px;--bbw-mobile:1.5px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s);--ml:var(--g-s-s)"
            >
              Title
            </span>
          
        <div class="gp-flex" style="--bc:#121212;--bs:solid;--bbw:1.5px;--bbw-tablet:1.5px;--bbw-mobile:1.5px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
      </div>
    </div>
  
      </div>{% render 'gp-section-555414216471741538-0', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant, form: form  %}
    <gp-button
      gp-data='{"btnLink":{"link":"#gQdOJ0upx7","selectedTab":"popup","target":"_self","title":"Dialog","type":"open-popup"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:var(--g-s-xl);--ta:center" >
        <style>[data-id="g_Of3FpySI"].gp-button-base::before, [data-id="g_Of3FpySI-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    border-radius: var(--g-radius-small);
  
    }
  
      
  [data-id="g_Of3FpySI"]:hover::before, [data-id="g_Of3FpySI-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#gQdOJ0upx7
            target=_self
          ></a>
        <a
          data-id="g_Of3FpySI" dataId="g_Of3FpySI" data-state="idle" aria-label="<p><u>Terms &amp; Conditions</u></p>"
          
          href="#gQdOJ0upx7" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--radius:var(--g-radius-small);--hvr-radius:var(--g-radius-small);--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#00000000;--bg:#00000000;--c:#121212;--fs:italic"
          class="g_Of3FpySI gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30  gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:italic;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line [&:not(:has(p))]:gp-pr-[0.2em] [&_p]:[&:has(p)]:gp-pr-[0.2em] gp-text button-text"
    >
      {{ section.settings.gg_Of3FpySI_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-555414216471741538 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/korean-skincare-uk/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=555414216387855458&sectionId=555414216471741538)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggYcOPkEmCq_text","label":"ggYcOPkEmCq_text","default":"Receive a free Galactomyces Brightening trial kit"},{"type":"html","id":"ggXtb2brudC_text","label":"ggXtb2brudC_text","default":"How to participate?"},{"type":"html","id":"ggLYsXb6I8W_text","label":"ggLYsXb6I8W_text","default":"<p><strong>STEP 1&nbsp;</strong><br>Purchase a product from the <a href=\"$locationOrigin/pages/search-results-page?q=galactomyces%20some%20by%20mi\"><i><u>SOME BY MI Galactomyces line</u></i></a> between&nbsp;March 6 and April 6.</p><p><strong>STEP 2</strong></p><p>Try and use it.</p><p><strong>STEP 3</strong></p><p>Share your experience <strong>before&nbsp;Wednesday April 30</strong>, 22:59 GMT&nbsp;by leaving a review on the product page of your product. Your review must be honest, genuine, informative and helpful for other KS customers.</p><p><strong>STEP 4</strong></p><p>Leave your order number in your review! (example: #KS-817356)<br><strong>STEP 5</strong></p><p>Your personal Galactomyces Brightening Trial Kit code will be sent by <strong>May 5</strong>.</p><p><strong>STEP 6</strong></p><p>Add the <i><u>Galactomyces Brightening Trial Kit</u></i>&nbsp;to your cart on your next KS order and use the code to get it for free.</p>"},{"type":"html","id":"ggZdS8gpeMX_text","label":"ggZdS8gpeMX_text","default":"Your free Galactomyces Brightening Trial Kit"},{"type":"html","id":"ggap9Rfg5DI_text","label":"ggap9Rfg5DI_text","default":"<p>With its <strong>Galactomyces Pure Vitamin C Glow Serum</strong> (10ml) and <strong>Galactomyces Glutathione Brightening Cream</strong> (10ml), it's the ultimate duo for a deeply hydrated, smooth skin with a radiant glow!</p>"},{"type":"html","id":"ggMdChWsYkx_text","label":"ggMdChWsYkx_text","default":"Shop the SOME BY MI Galactomyces Line"},{"type":"html","id":"ggKCLcSU76G_label","label":"ggKCLcSU76G_label","default":"See more"},{"type":"html","id":"ggYWqzPriH-_label","label":"ggYWqzPriH-_label","default":"See more"},{"type":"html","id":"ggCjy6mXQnZ_label","label":"ggCjy6mXQnZ_label","default":"See more"},{"type":"html","id":"ggISeazojmb_label","label":"ggISeazojmb_label","default":"See more"},{"type":"html","id":"ggU-jvM_54D_label","label":"ggU-jvM_54D_label","default":"See more"},{"type":"html","id":"ggGoqrzbJjX_label","label":"ggGoqrzbJjX_label","default":"See more"},{"type":"html","id":"gg_Of3FpySI_label","label":"gg_Of3FpySI_label","default":"<p><u>Terms &amp; Conditions</u></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}