
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-597301424077931063.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-597301424077931063.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-597301424077931063.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-597301424077931063.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-597301424077931063.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-597301424077931063.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-597301424077931063.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-597301424077931063.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-597301424077931063.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-597301424077931063.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-597301424077931063.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-597301424077931063.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-597301424077931063.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-597301424077931063.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-597301424077931063.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-597301424077931063.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-597301424077931063.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-597301424077931063.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-597301424077931063.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-597301424077931063.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-597301424077931063.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-597301424077931063.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-597301424077931063.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-597301424077931063.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-597301424077931063.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-597301424077931063.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-597301424077931063.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-597301424077931063.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-597301424077931063.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-597301424077931063.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-597301424077931063.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-597301424077931063.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-597301424077931063.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-597301424077931063.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-597301424077931063.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-597301424077931063.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-597301424077931063.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-597301424077931063.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-597301424077931063.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-597301424077931063.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-597301424077931063.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-597301424077931063.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-597301424077931063.gps.gpsil [style*="--minh:"]{min-height:var(--minh)}.gps-597301424077931063.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-597301424077931063.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-597301424077931063.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-597301424077931063.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-597301424077931063.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-597301424077931063.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-597301424077931063.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-597301424077931063.gps.gpsil [style*="--pe:"]{pointer-events:var(--pe)}.gps-597301424077931063.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-597301424077931063.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-597301424077931063.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-597301424077931063.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-597301424077931063.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-597301424077931063.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-597301424077931063.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-597301424077931063.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-597301424077931063.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-597301424077931063.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-597301424077931063.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-597301424077931063.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-597301424077931063.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-597301424077931063.gps.gpsil [style*="--pe-tablet:"]{pointer-events:var(--pe-tablet)}.gps-597301424077931063.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-597301424077931063.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-597301424077931063.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-597301424077931063.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-597301424077931063.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-597301424077931063.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-597301424077931063.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-597301424077931063.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-597301424077931063.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-597301424077931063.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-597301424077931063.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-597301424077931063.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-597301424077931063.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-597301424077931063.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-597301424077931063.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-597301424077931063.gps.gpsil [style*="--pe-mobile:"]{pointer-events:var(--pe-mobile)}.gps-597301424077931063.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-597301424077931063.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-597301424077931063 .focus-visible\:gp-shadow-none,.gps-597301424077931063 .gp-shadow-xl{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-597301424077931063 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-597301424077931063 .gp-g-heading-2{font-family:var(--g-h2-ff);font-size:var(--g-h2-size);font-style:var(--g-h2-fs);font-weight:var(--g-h2-weight);letter-spacing:var(--g-h2-ls);line-height:var(--g-h2-lh)}.gps-597301424077931063 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-597301424077931063 .gp-fixed{position:fixed}.gps-597301424077931063 .gp-absolute{position:absolute}.gps-597301424077931063 .gp-relative{position:relative}.gps-597301424077931063 .gp-inset-0{inset:0}.gps-597301424077931063 .gp-right-0{right:0}.gps-597301424077931063 .gp-top-0{top:0}.gps-597301424077931063 .gp-z-1{z-index:1}.gps-597301424077931063 .gp-z-50{z-index:50}.gps-597301424077931063 .gp-z-\[999999\]{z-index:999999}.gps-597301424077931063 .gp-block{display:block}.gps-597301424077931063 .gp-inline-block{display:inline-block}.gps-597301424077931063 .gp-flex{display:flex}.gps-597301424077931063 .gp-inline-flex{display:inline-flex}.gps-597301424077931063 .\!gp-hidden{display:none!important}.gps-597301424077931063 .gp-hidden{display:none}.gps-597301424077931063 .gp-h-full{height:100%}.gps-597301424077931063 .gp-h-screen{height:100vh}.gps-597301424077931063 .\!gp-max-h-screen{max-height:100vh!important}.gps-597301424077931063 .gp-max-h-full{max-height:100%}.gps-597301424077931063 .gp-w-full{width:100%}.gps-597301424077931063 .gp-max-w-full{max-width:100%}@keyframes gp-fadeIn{0%{opacity:0}to{opacity:1}}.gps-597301424077931063 .gp-animate-\[fadeIn_0\.4s_ease-in\]{animation:gp-fadeIn .4s ease-in}.gps-597301424077931063 .gp-items-center{align-items:center}.gps-597301424077931063 .gp-justify-center{justify-content:center}.gps-597301424077931063 .gp-overflow-hidden{overflow:hidden}.gps-597301424077931063 .gp-overflow-y-auto{overflow-y:auto}.gps-597301424077931063 .gp-overflow-x-hidden{overflow-x:hidden}.gps-597301424077931063 .gp-bg-transparent{background-color:transparent}.gps-597301424077931063 .gp-align-middle{vertical-align:middle}.gps-597301424077931063 .gp-shadow-xl{--tw-shadow:0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);--tw-shadow-colored:0 20px 25px -5px var(--tw-shadow-color),0 8px 10px -6px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-597301424077931063 .gp-outline-none{outline:2px solid transparent;outline-offset:2px}.gps-597301424077931063 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-597301424077931063 .gp-duration-100{transition-duration:.1s}.gps-597301424077931063 .focus-visible\:gp-shadow-none:focus-visible{--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-597301424077931063 .focus-visible\:gp-outline-none:focus-visible{outline:2px solid transparent;outline-offset:2px}@media (max-width:1024px){.gps-597301424077931063 .tablet\:\!gp-hidden{display:none!important}.gps-597301424077931063 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-597301424077931063 .mobile\:\!gp-hidden{display:none!important}.gps-597301424077931063 .mobile\:gp-hidden{display:none}}.gps-597301424077931063 .\[\&\>svg\]\:\!gp-h-\[var\(--height-icon\)\]>svg{height:var(--height-icon)!important}.gps-597301424077931063 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}</style>
    
  
    
    
    <gp-dialog
      data-id="gvXQKzy5m1"
      class="{% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
      style="--d:contents;--d-tablet:contents;--d-mobile:contents"
      data-gp-setting='{"dialogId":"gvXQKzy5m1","trigger":"none","triggerTime":0,"frequency":3,"triggerPercentage":10,"mobileTrigger":"none","mobileTriggerTime":10,"closeOnClickOutside":true,"frequencyMode":"every","display":{"desktop":true,"mobile":true,"tablet":true}}'>
      <dialog
        aria-label="Terms & Conditions"
        data-gp-dialog-id="gvXQKzy5m1"
        class="gp-dialog gp-bg-transparent gp-z-[999999]"
        style="z-index:100001"
      >
        <div aria-label="Backdrop" class="gp-fixed gp-inset-0 gp-z-50 gp-flex gp-overflow-y-auto gp-overflow-x-hidden gp-shadow-xl gp-items-center gp-justify-center" style="--pe:auto;--pe-mobile:auto;--pe-tablet:auto">
        
            <div
              data-gp-dialog-overlay
              class="gp-fixed gp-inset-0 gp-block gp-transition-all gp-duration-100"
              style="--op:0.7;--bgc:#121212;--d:block;--d-mobile:block;--d-tablet:block"
              aria-hidden=true
            ></div>
        
          <span class="gp-inline-block gp-h-screen gp-align-middle"></span>
          <div
            role="dialog"
            aria-label="Dialog content"
            
            class="gp-relative gp-max-h-full gp-max-w-full gp-animate-[fadeIn_0.4s_ease-in] gp-overflow-hidden gp-shadow-xl"
            style="--mt:50px;--ml:20px;--mb:20px;--mr:20px;--mt-mobile:200px;--ml-mobile:20px;--mb-mobile:100px;--mr-mobile:20px;--mt-tablet:50px;--ml-tablet:20px;--mb-tablet:20px;--mr-tablet:20px;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--bblr-mobile:5px;--bbrr-mobile:5px;--btlr-mobile:5px;--btrr-mobile:5px;--d:block;--d-mobile:block;--d-tablet:block;--w:1200px;--w-tablet:1200px;--w-mobile:100%;--minh:300px;--h-tablet:Auto;--h-mobile:Auto"
          >
            <button
              data-gp-dialog-close
              type="button"
              tabindex="-1"
              class="gp-absolute gp-top-0 gp-right-0 gp-inline-flex gp-items-center gp-justify-center gp-outline-none focus-visible:gp-shadow-none focus-visible:gp-outline-none gp-overflow-hidden gp-z-1"
              style="--w:40px;--h:40px;--c:var(--g-c-line-3, line-3);--bgc:#ffffff;--bblr:5px;--bbrr:5px;--btlr:5px;--btrr:5px;--hvr-bblr:5px;--hvr-bbrr:5px;--hvr-btlr:5px;--hvr-btrr:5px;--focus-bblr:5px;--focus-bbrr:5px;--focus-btlr:5px;--focus-btrr:5px;-undefined-bblr:5px;-undefined-bbrr:5px;-undefined-btlr:5px;-undefined-btrr:5px"
            >
              <span style="--height-icon:20px" class="[&>svg]:!gp-w-auto [&>svg]:!gp-h-[var(--height-icon)]">
              <svg viewBox="0 0 12 12" fill="currentColor" style={svgContentStyle}>
                <path d="M7.1,6l4.5,4.5l-1.1,1.1L6,7.1l-4.5,4.5l-1.1-1.1L4.9,6L0.5,1.5l1.1-1.1L6,4.9l4.5-4.5l1.1,1.1L7.1,6z"></path>
              </svg>
              </span>
            </button>
            <div
              aria-label="Dialog body"
              style="--shadow:none;--op:100%;--pageType:GP_STATIC;--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--pt-mobile:40px;--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xl);--pt-tablet:50px;--pl-tablet:50px;--pb-tablet:50px;--pr-tablet:50px;--minh:300px;--h-tablet:Auto;--h-mobile:Auto;border-radius:inherit;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
              class="gp-h-full gp-w-full gp-overflow-y-auto gp-overflow-x-hidden !gp-max-h-screen">
                <div>
                  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g-WQTi79f-"
        class="g-WQTi79f-"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg-WQTi79f-_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gWYF3lRKR0"
        class="gWYF3lRKR0"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggWYF3lRKR0_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gDR3XZ8QYl"
        class="gDR3XZ8QYl"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-heading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggDR3XZ8QYl_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzmtMtkU3Z"
        class="gzmtMtkU3Z"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzmtMtkU3Z_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLWxd6WVP4"
        class="gLWxd6WVP4"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-heading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLWxd6WVP4_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gwdQq5aM08"
        class="gwdQq5aM08"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggwdQq5aM08_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gnFgXpo3oU"
        class="gnFgXpo3oU"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-heading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnFgXpo3oU_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g-G2DQtJ6W"
        class="g-G2DQtJ6W"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg-G2DQtJ6W_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gY7KLxYxxr"
        class="gY7KLxYxxr"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-heading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggY7KLxYxxr_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gsBJDI5MvM"
        class="gsBJDI5MvM"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggsBJDI5MvM_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gCUmezeESm"
        class="gCUmezeESm"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-heading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggCUmezeESm_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gs8qQ0ajyN"
        class="gs8qQ0ajyN"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggs8qQ0ajyN_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gAhVZQW8-y"
        class="gAhVZQW8-y"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-heading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggAhVZQW8-y_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g7qDhWf_Gr"
        class="g7qDhWf_Gr"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7qDhWf_Gr_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                </div>
            </div>
          </div>
        </div>
      </dialog>
    </gp-dialog>
    <script src="https://assets.gemcommerce.com/assets-v2/gp-dialog-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-597301424077931063 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/korean-skincare-uk/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=596858296531420140&sectionId=597301424077931063)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg-WQTi79f-_text","label":"gg-WQTi79f-_text","default":"Online Advent Calendar: Terms &amp; Conditions"},{"type":"html","id":"ggWYF3lRKR0_text","label":"ggWYF3lRKR0_text","default":"<p>These terms apply to all promotional offers (including discounts, giveaways, gifts with purchase, 1+1 offers, and “Golden Envelope” campaigns) organized by Korean Skincare B.V. Unless otherwise stated, promotions are open to customers residing in countries where we deliver. All promotional periods refer to Central European Time (CET) unless otherwise stated. Each promotion is time-limited (typically 24 hours unless otherwise stated), available only while stocks last, and subject to our standard Terms of Sale.</p>"},{"type":"html","id":"ggDR3XZ8QYl_text","label":"ggDR3XZ8QYl_text","default":"<p>Gift with Purchase (GWP)</p>"},{"type":"html","id":"ggzmtMtkU3Z_text","label":"ggzmtMtkU3Z_text","default":"<p>Eligible customers will receive a complimentary product when purchasing qualifying items. The gift cannot be exchanged or refunded. If the qualifying order is returned, the gift must also be returned unused and unopened.</p>"},{"type":"html","id":"ggLWxd6WVP4_text","label":"ggLWxd6WVP4_text","default":"<p>Discount or Price Reduction</p>"},{"type":"html","id":"ggwdQq5aM08_text","label":"ggwdQq5aM08_text","default":"<p>Discounts apply only to specified products and for the specified duration. Discounts cannot be combined with other vouchers, loyalty codes, or ongoing promotions. Prices displayed during the promotional period already include the discount.</p>"},{"type":"html","id":"ggnFgXpo3oU_text","label":"ggnFgXpo3oU_text","default":"<p>“Buy 1 Get 1” (1+1) Offers</p>"},{"type":"html","id":"gg-G2DQtJ6W_text","label":"gg-G2DQtJ6W_text","default":"<p>All items must be added to the cart for the discount to apply. Returns must include all items received under the offer to qualify for a refund.</p>"},{"type":"html","id":"ggY7KLxYxxr_text","label":"ggY7KLxYxxr_text","default":"<p>Giveaways</p>"},{"type":"html","id":"ggsBJDI5MvM_text","label":"ggsBJDI5MvM_text","default":"<p>Open to residents in eligible countries listed on our website. No purchase necessary unless stated. Winners are chosen at random and notified via private message on Instagram. Prizes are non-transferable. We reserve the right to substitute a prize of equal value if necessary.</p>"},{"type":"html","id":"ggCUmezeESm_text","label":"ggCUmezeESm_text","default":"<p>“Golden Envelope” Promotion</p>"},{"type":"html","id":"ggs8qQ0ajyN_text","label":"ggs8qQ0ajyN_text","default":"<p>Selected orders may include a “Golden Envelope” with a unique discount code for future use. Distribution is random and limited in number. Codes are valid for one-time use only and are subject to expiry dates listed on the gift card. Korean Skincare B.V. is the sole organizer of this promotion.</p>"},{"type":"html","id":"ggAhVZQW8-y_text","label":"ggAhVZQW8-y_text","default":"<p>General Conditions</p>"},{"type":"html","id":"gg7qDhWf_Gr_text","label":"gg7qDhWf_Gr_text","default":"<p>Offers are valid only during the advertised promotional period. Stock availability may vary, and no guarantees are made for product quantities. Returns or cancellations for promotional orders will be processed in accordance with our Returns Policy. We reserve the right to withdraw or amend promotions without notice. Errors and omissions excepted. Nothing in these terms affects your statutory consumer rights.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}